In [23]:
import pandas as pd
import numpy as np
import matplotlib.pyplot
%matplotlib inline

In [24]:
data = pd.read_csv('eda_data.csv')

In [25]:
data.head()

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,...,age,python_yn,R_yn,spark,aws,excel,job_simp,seniority,desc_len,num_comp
0,0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,...,47,1,0,0,0,1,data scientist,na,2536,0
1,1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,...,36,1,0,0,0,0,data scientist,na,4783,0
2,2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,...,10,1,0,1,0,1,data scientist,na,3461,0
3,3,Data Scientist,$56K-$97K (Glassdoor est.),*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,...,55,1,0,0,0,0,data scientist,na,3883,3
4,4,Data Scientist,$86K-$143K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,...,22,1,0,0,0,1,data scientist,na,2728,3

In [26]:
data.columns

Index(['Unnamed: 0', 'Job Title', 'Salary Estimate', 'Job Description',
       'Rating', 'Company Name', 'Location', 'Headquarters', 'Size', 'Founded',
       'Type of ownership', 'Industry', 'Sector', 'Revenue', 'Competitors',
       'hourly', 'employer_provided', 'min_salary', 'max_salary', 'avg_salary',
       'company_txt', 'job_state', 'same_state', 'age', 'python_yn', 'R_yn',
       'spark', 'aws', 'excel', 'job_simp', 'seniority', 'desc_len',
       'num_comp'],
      dtype='object')

In [27]:
data['Job Title'].unique()

array(['Data Scientist', 'Healthcare Data Scientist',
       'Research Scientist', 'Staff Data Scientist - Technology',
       'Data Analyst', 'Data Engineer I', 'Scientist I/II, Biology',
       'Customer Data Scientist',
       'Data Scientist - Health Data Analytics',
       'Senior Data Scientist / Machine Learning',
       'Data Scientist - Quantitative', 'Digital Health Data Scientist',
       'Associate Data Analyst', 'Clinical Data Scientist',
       'Data Scientist / Machine Learning Expert', 'Web Data Analyst',
       'Senior Data Scientist', 'Data Engineer',
       'Data Scientist - Algorithms & Inference', 'Scientist',
       'Lead Data Scientist', 'Spectral Scientist/Engineer',
       'College Hire - Data Scientist - Open to December 2019 Graduates',
       'Data Scientist, Office of Data Science', 'Data Science Analyst',
       'Senior Risk Data Scientist',
       'Data Scientist in Artificial Intelligence Early Career',
       'Data Scientist - Research', 'R&D Data Analysis Scientist',
       'Analytics Consultant', 'Director, Data Science',
       'Data Scientist SR', 'R&D Sr Data Scientist',
       'Customer Data Scientist/Sales Engineer (Bay',
       'Jr. Business Data Analyst', 'Data Management Specialist',
       'E-Commerce Data Analyst', 'Sr. Scientist II',
       'Insurance Data Scientist', 'Data Modeler',
       'Data Analyst / Scientist', 'Data Scientist, Rice University',
       'Financial Data Analyst', 'Senior Data Analyst',
       'Ag Data Scientist', 'Data Scientist II', 'Senior Data Engineer',
       'Project Scientist', 'Data Analytics Manager',
       'Senior Machine Learning (ML) Engineer / Data Scientist - Cyber Security Analytics',
       'Associate Scientist', 'Scientist 2, QC Viral Vector',
       'Machine Learning Engineer', 'Data Scientist/ML Engineer',
       'Sr. Data Scientist', 'Data Engineer 4 - Contract',
       'Data Analyst - Asset Management',
       'Senior Research Scientist - Embedded System Development for DevOps',
       'Data Scientist - Bioinformatics',
       'Customer Data Scientist/Sales Engineer',
       'MongoDB Data Engineer II', 'Senior Data Scientist Statistics',
       'Senior Spark Engineer (Data Science)',
       'BI & Platform Analytics Manager',
       'Sr. Data Scientist - Analytics, Personalized Healthcare (PHC)',
       'Pricipal Scientist Molecular and cellular biologist',
       'Data Scientist (Actuary, FSA or ASA)', 'Staff Data Scientist',
       'Data Engineer 5 - Contract (Remote)',
       'Senior Scientist - Neuroscience', 'Medical Lab Scientist',
       'Risk and Analytics IT, Data Scientist',
       'Scientist, Analytical Development', 'Analytics Manager',
       'Digital Marketing & ECommerce Data Analyst',
       'Sr. Scientist - Digital & Image Analysis/Computational Pathology',
       'Principal Scientist - Immunologist',
       'Principal Data Scientist with over 10 years experience',
       'MED TECH/LAB SCIENTIST - LABORATORY',
       'Sr. Scientist, Quantitative Translational Sciences',
       'Sr. Data Scientist II', 'Excel / VBA / SQL Data Analyst',
       'Machine Learning Research Scientist', 'VP, Data Science',
       'Radar Data Analyst', 'PL Actuarial-Lead Data Scientist',
       'PV Scientist', 'Senior Data & Machine Learning Scientist',
       'Principal Data Scientist (Computational Chemistry)',
       'Principal Scientist, Chemistry & Immunology',
       'Software Engineer - Data Visualization',
       'Scientist/Senior Scientist, Autoimmune',
       'Staff Machine Learning Engineer',
       'Principal Scientist, Hematology', 'Lead Data Engineer',
       'Marketing Data Analyst', 'Medical Laboratory Scientist',
       'R&D Specialist/ Food Scientist',
       'Senior Research Scientist-Machine Learning',
       'Analytics Manager - Data Mart',
       'Sr. Data Engineer - Contract-to-Hire (Java)',
       'MED TECH/LAB SCIENTIST- SOUTH COASTAL LAB',
       'Food Scientist - Developer',
       'Staff Scientist-Downstream Process Development',
       'Sr. Data Engineer',
       'Senior Research Statistician- Data Scientist',
       'Business Data Analyst, SQL',
       'Medical Technologist / Clinical Laboratory Scientist',
       'Associate Data Scientist/Computer Scientist',
       'Business Intelligence Analyst / Developer',
       'System and Data Analyst', 'Data & Analytics Consultant (NYC)',
       'Big Data Engineer - Chicago - Future Opportunity',
       'Survey Data Analyst', 'Lead Health Data Analyst - Front End',
       'Junior Data Analyst', 'SQL Data Engineer',
       'Sr. Data Scientist, Cyber-Security LT Contract',
       'Insurance Financial Data Analyst', 'Data Engineer I - Azure',
       'Information Security Data Analyst', 'Data Scientist, Senior',
       'CONSULTANTâ€“ DATA ANALYTICS GROUP',
       'Data Engineer, Data Engineering and Artifical Intelligence',
       'Staff Scientist',
       'Associate Scientist/Scientist, Process Analytical Technology - Small Molecule Analytical Chemistry',
       'Sr. Data Analyst', 'Program/Data Analyst',
       'Senior Data Scientist: Causal & Predictive analytics AI Innovation Lab',
       'Principal Data Engineer, Data Platform & Insights',
       'RESEARCH SCIENTIST - BIOLOGICAL SAFETY', 'Data Operations Lead',
       'Big Data Engineer', 'Clinical Data Analyst',
       'Computational Chemist/Data Scientist',
       'Product Engineer â€“ Data Science', 'Market Data Analyst',
       'Staff Data Engineer', 'Associate Data Engineer',
       'Staff BI and Data Engineer',
       'Director - Data, Privacy and AI Governance',
       'Scientist Manufacturing - Kentucky BioProcessing',
       'Data Analytics Project Manager',
       'Consultant - Analytics Consulting',
       'Senior Scientist (Neuroscience)',
       'Machine Learning Engineer - Regulatory',
       'Scientist, Bacteriology',
       'Associate Director, Platform and DevOps- Data Engineering and Aritifical Intelligence',
       'Clinical Laboratory Scientist',
       'Senior Data Scientist - R&D Oncology',
       'Director II, Data Science - GRM Actuarial',
       'Scientist, Molecular/Cellular Biologist',
       'Scientist - Analytical Services',
       'Associate Data Analyst- Graduate Development Program',
       'Senior Insurance Data Scientist',
       'Senior Data Science Systems Engineer',
       'ENVIRONMENTAL ENGINEER/SCIENTIST',
       'Senior Scientist - Regulatory Submissions',
       'Scientist - Biomarker and Flow Cytometry',
       'Revenue Analytics Manager',
       'Associate Scientist, LC/MS Biologics',
       'Sr. Scientist Method Development', 'IT - Data Engineer II',
       'Research Scientist, Immunology - Cancer Biology',
       'Project Scientist - Auton Lab, Robotics Institute',
       'Enterprise Architect, Data',
       'Senior Manager, Epidemiologic Data Scientist',
       'Corporate Risk Data Analyst (SQL Based) - Milwaukee or',
       'Marketing Data Analyst, May 2020 Undergrad',
       'Data Modeler - Data Solutions Engineer',
       'Associate Environmental Scientist - Wildlife Biologist',
       'Associate, Data Science, Internal Audit',
       'Sr Data Engineer (Sr BI Developer)',
       'Senior LiDAR Data Scientist', 'Salesforce Analytics Consultant',
       'Technology-Minded, Data Professional Opportunities',
       'Managing Data Scientist/ML Engineer',
       'Scientist, Pharmacometrics', 'Staff Scientist- Upstream PD',
       'Scientist Manufacturing Pharma - Kentucky BioProcessing',
       'Lead Big Data Engineer',
       'Product Engineer â€“ Spatial Data Science and Statistical Analysis',
       'Sr Software Engineer (Data Scientist)',
       'Sr. Data Engineer (ETL Developer)',
       'Senior Data Scientist Artificial Intelligence',
       'Analytics - Business Assurance Data Analyst',
       'Associate Director/Director, Safety Scientist',
       'Senior Scientist, Cell Pharmacology/Assay Development',
       'Data Analyst Senior', 'Lead Data Engineer (Python)',
       'Senior Data Scientist 4 Artificial Intelligence',
       'Medical Lab Scientist - MLT',
       'Senior Operations Data Analyst, Call Center Operations',
       'Director II, Data Science - GRS Predictive Analytics',
       'RESEARCH COMPUTER SCIENTIST - RESEARCH ENGINEER - SR. COMPUTER SCIENTIST - SOFTWARE DEVELOPMENT',
       'Geospatial Software Developer and Data Scientist',
       'Senior Scientist - Toxicologist - Product Integrity (Stewardship)',
       'Systems Engineer II - Data Analyst',
       'Senior Research Analytical Scientist-Non-Targeted Analysis',
       'Director Data Science', 'Sr Data Analyst - IT',
       'Associate Machine Learning Engineer / Data Scientist May 2020 Undergrad',
       'Senior Scientist - Biostatistician',
       'Principal Machine Learning Scientist',
       'Data Analyst, Performance Partnership', 'Data Scientist Manager',
       'Software Data Engineer - College',
       'Senior Data Scientist - Algorithms',
       'Senior Data Scientist Oncology', 'Principal Data Scientist',
       'Data Scientist - Alpha Insights',
       'Associate Principal Scientist, Pharmacogenomics',
       'Data Scientist - Systems Engineering',
       'Data Engineer - Consultant (Charlotte Based)',
       'Data Analyst 1, full-time contract worker for up to 12 months',
       'Scientist, Immuno-Oncology', 'Products Data Analyst II',
       'Lead Data Analyst', 'Data Science Engineer - Mobile',
       'Sr Expert Data Science, Advanced Visual Analytics (Associate level)',
       'IT Associate Data Analyst', 'Business Data Analyst',
       'Data Scientist - Sales',
       'Principal, Data Science - Advanced Analytics',
       'Data Science Project Manager',
       'Sr Scientist, Immuno-Oncology - Oncology',
       'Research Scientist â€“ Security and Privacy',
       'Data Science Manager', 'Data Analyst 2 (Missionary Department)',
       'Supply Chain Data Analyst', 'Data Engineer - ETL',
       'Data Modeler (Analytical Systems)',
       'Data Scientist in Translational Medicine',
       'Product Manager/Data Evangelist',
       'Senior Data Scientist â€“ Visualization, Novartis AI Innovation Lab',
       'Senior Data Analyst/Scientist',
       'Scientist â€“ Cancer Discovery, Molecular Assay',
       'Data Engineering Analyst', 'Manager of Data Science',
       'Software Engineer (Data Scientist/Software Engineer) - SISW - MG',
       'Associate Research Scientist I (Protein Expression and Production)',
       'Director, Precision Medicine Clinical Biomarker Scientist',
       'Senior Formulations Scientist II', 'Senior Quantitative Analyst',
       'Research Scientist or Senior Research Scientist - Computer Vision',
       'Data Analyst Chemist - Quality System Contractor',
       'Research Scientist / Principal Research Scientist - Multiphysical Systems',
       'Research Scientist, Machine Learning Department',
       'Foundational Community Supports Data Analyst',
       'Senior Health Data Analyst, Star Ratings',
       'Principal Research Scientist/Team Lead, Medicinal Chemistry - Oncology',
       'Senior Engineer, Data Management Engineering',
       'Quality Control Scientist III- Analytical Development',
       'Clinical Scientist, Clinical Development',
       'Software Engineer Staff Scientist: Human Language Technologies',
       'Manager, Safety Scientist, Medical Safety & Risk Management',
       'Assistant Director/Director, Office of Data Science',
       'Sr. Data Engineer | Big Data SaaS Pipeline',
       'Scientist - CVRM Metabolism - in vivo pharmacology',
       'Data Scientist (Warehouse Automation)', 'Jr. Data Scientist',
       'Data Architect / Data Modeler',
       'Associate Scientist / Sr. Associate Scientist, Antibody Discovery',
       'Machine Learning Engineer (NLP)'], dtype=object)

In [28]:
data.shape

(742, 33)

In [32]:
a=data['Size'].unique()

In [33]:
a

array([4, 7, 5, 2, 3, 6, 1, 0, '-1'], dtype=object)

In [31]:
data['Size'].replace({'Unknown':0,'1 to 50 employees':1,'51 to 200 employees':2,'201 to 500 employees':3,'501 to 1000 employees':4,'1001 to 5000 employees':5,'5001 to 10000 employees':6,'10000+ employees':7},inplace=True)

In [34]:
data.drop(data[data['Size']=='-1'].index,inplace=True)

In [40]:
data[data['Size']==0].index.value_counts()

45     1
370    1
373    1
404    1
456    1
551    1
609    1
641    1
730    1
dtype: int64

In [41]:
data.head()

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,...,age,python_yn,R_yn,spark,aws,excel,job_simp,seniority,desc_len,num_comp
0,0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research\n3.8,"Albuquerque, NM","Goleta, CA",4,1973,...,47,1,0,0,0,1,data scientist,na,2536,0
1,1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System\n3.4,"Linthicum, MD","Baltimore, MD",7,1984,...,36,1,0,0,0,0,data scientist,na,4783,0
2,2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\n4.8,"Clearwater, FL","Clearwater, FL",4,2010,...,10,1,0,1,0,1,data scientist,na,3461,0
3,3,Data Scientist,$56K-$97K (Glassdoor est.),*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL\n3.8,"Richland, WA","Richland, WA",5,1965,...,55,1,0,0,0,0,data scientist,na,3883,3
4,4,Data Scientist,$86K-$143K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",2,1998,...,22,1,0,0,0,1,data scientist,na,2728,3

In [42]:
data.columns

Index(['Unnamed: 0', 'Job Title', 'Salary Estimate', 'Job Description',
       'Rating', 'Company Name', 'Location', 'Headquarters', 'Size', 'Founded',
       'Type of ownership', 'Industry', 'Sector', 'Revenue', 'Competitors',
       'hourly', 'employer_provided', 'min_salary', 'max_salary', 'avg_salary',
       'company_txt', 'job_state', 'same_state', 'age', 'python_yn', 'R_yn',
       'spark', 'aws', 'excel', 'job_simp', 'seniority', 'desc_len',
       'num_comp'],
      dtype='object')

In [43]:
data['Competitors']

0                                                     -1
1                                                     -1
2                                                     -1
3      Oak Ridge National Laboratory, National Renewa...
4                   Commerce Signals, Cardlytics, Yodlee
                             ...
737                           Pfizer, AstraZeneca, Merck
738                      See Tickets, TicketWeb, Vendini
739                                                   -1
740                                                   -1
741                                                   -1
Name: Competitors, Length: 741, dtype: object

In [46]:
data[data['Competitors']=='-1']

Empty DataFrame
Columns: [Unnamed: 0, Job Title, Salary Estimate, Job Description, Rating, Company Name, Location, Headquarters, Size, Founded, Type of ownership, Industry, Sector, Revenue, Competitors, hourly, employer_provided, min_salary, max_salary, avg_salary, company_txt, job_state, same_state, age, python_yn, R_yn, spark, aws, excel, job_simp, seniority, desc_len, num_comp]
Index: []

[0 rows x 33 columns]

In [45]:
data.replace({'-1':'None'},inplace=True)

In [47]:
data['Competitors'].unique()

array(['None',
       'Oak Ridge National Laboratory, National Renewable Energy Lab, Los Alamos National Laboratory',
       'Commerce Signals, Cardlytics, Yodlee',
       'Digital Realty, CoreSite, Equinix', 'Clicktripz, SmarterTravel',
       'Target, Costco Wholesale, Amazon', 'Novartis, Baxter, Pfizer',
       'bluebird bio, Agios Pharmaceuticals, Celgene',
       "Angie's List, HomeAdvisor, Thumbtack",
       'Leidos, CACI International, Booz Allen Hamilton',
       'Thermo Fisher Scientific, Enzymatics, Illumina', 'Pitney Bowes',
       'BrowserStack, Selenium Master, Perfecto Mobile',
       'Unilever, Procter & Gamble, Henkel',
       'UDR, AvalonBay Communities, Essex Property Trust',
       'American Express, Mastercard, Discover',
       'TASC, Vencore, Booz Allen Hamilton',
       'John Deere, Komatsu, CNH Industrial',
       'Travelers, Allstate, State Farm', 'Munich Re, Hannover RE, SCOR',
       'Skyhigh Networks, Zscaler, NortonLifeLock',
       'Slalom, Daugherty Business Solutions',
       "REI, Academy Sports + Outdoors, Cabela's",
       'IDEO, Gongos, Inc., Ipsos',
       'ManTech, Booz Allen Hamilton, Leidos',
       'Lhoist, Graymont, Sibelco Group', 'Infosys, EPAM, Accenture',
       'MIT Lincoln Laboratory, Lockheed Martin, Northrop Grumman',
       'Numerator, Rise Interactive, Salom',
       'Bristol-Myers Squibb, Merck, GlaxoSmithKline',
       'SAIC, Leidos, Northrop Grumman',
       'Battelle, General Atomics, SAIC',
       'MCNA Dental Plans, United Concordia, Delta Dental Plans Association',
       'COPS Monitoring, National Monitoring Center, Affiliated Monitoring',
       'General Assembly, Kaplan University, Ironhack',
       'Advisory Board, Booz Allen Hamilton, McKinsey & Company',
       'Accenture, North Highland, Deloitte',
       'DataFinch Technologies, Accupoint Software Solution, CodeMetro',
       "Nebraska Medicine, Children's Hospital & Medical Center, Methodist Health System - NE and IA",
       'Engagio, Bombora, Terminus', 'Zocdoc, Healthgrades',
       'Solution Design Group, Intertech (Minnesota)',
       'Health Net, Kaiser Permanente, Molina Healthcare',
       'Clearlink, Credit Karma, LendingTree',
       'USAA, Navy Federal Credit Union, Raymond James Financial',
       "The Nature's Bounty Co., Schiff Nutrition International",
       'Genentech, Ultragenyx Pharmaceutical, Gilead Sciences',
       'McKinsey & Company, Accenture, Deloitte',
       'Greystar, The Related Companies, Prometheus Real Estate Group',
       'Slalom, Cognizant Technology Solutions, Deloitte',
       'Outcome Health, Health Media Network, Mesmerize Marketing',
       'Seagate Technology, Toshiba', 'Shire, GlaxoSmithKline, Allergan',
       'Ellucian, Parchment, College Board', 'Linqia, Collective Bias',
       'Arbella Insurance, Safety Insurance',
       'Nationstar Mortgage, Caliber Funding, Quicken Loans',
       'Torch Technologies, American Systems', 'FLURRY, Chartboost',
       'Credit Karma, LendUp, SoFi',
       "TravelCenters of America, Love's Travel Stops & Country Stores, Wawa",
       'C.H. Robinson, Total Quality Logistics, Coyote Logistics',
       'Boeing, Northrop Grumman, Raytheon',
       'Expedia Group, Orbitz Worldwide, Priceline.com',
       'Blizzard Entertainment, Riot Games, Electronic Arts',
       'Old Dominion Freight, Pitt Ohio Express',
       'See Tickets, TicketWeb, Vendini',
       'Mediaocean, The Trade Desk, MediaMath',
       'Nielsen, Hitwise, Coremetrics',
       'Mercer, Korn Ferry, Integrated Healthcare Strategies',
       'UnitedHealth Group',
       'Boys & Girls Clubs of America, AdoptUSKids, Foster Care to Success',
       'MetLife, Northwestern Mutual, Prudential',
       'Caterpillar, John Deere, CNH Industrial',
       'Infosys, Accenture, Capgemini',
       'McKim and Creed, CDM Smith, Kimley-Horn',
       'Los Alamos National Laboratory, Battelle, SRI International',
       'Geometry Global, TracyLocke, Saatchi & Saatchi X',
       'Splunk, Datadog, Elastic',
       'TruMark Financial, North Island Credit Union, CommunityAmerica Credit Union',
       'CSC, Booz Allen Hamilton, ManTech',
       'Cisco Systems, Huawei Technologies, IBM',
       'Tata Consultancy Services, Accenture, Cognizant Technology Solutions',
       'Coleman Research, AlphaSights, Third Bridge',
       'Roche, GlaxoSmithKline, Novartis',
       'BioMarin Pharmaceutical, Sangamo Therapeutics, bluebird bio',
       'Wells Fargo, BMO Harris Bank, U.S. Bank',
       'Avaya, Five9, Salesforce',
       'YOOX NET-A-PORTER GROUP, Farfetch, MATCHESFASHION',
       'Indeed, LinkedIn',
       'Asurion, SquareTrade, National General Insurance',
       'UnitedHealth Group, Molina Healthcare, Centene',
       'Dignity Health, Trinity Health',
       'Westat, Abt Associates, Chemonics International', 'Covance, ICON',
       'NBCUniversal, Comcast, Netflix', 'Sony, LG Electronics, Nokia',
       'Sequenom', 'Abbott Laboratories, Roche, Thermo Fisher Scientific',
       'Thomson Reuters, International Data Group',
       'Fundera, Bond Street, OnDeck', 'Accenture, CGI, Sopra Steria',
       'Travelers, Chubb, Crum & Forster', 'Oracle',
       'The Execu|Search Group, Prime Staffing',
       'Harvard Business School, Coursera, edX', 'Harris, Fibertek',
       'World Wide Technology, Presidio, Optiv',
       'Accenture, Deloitte, IBM',
       'National Debt Relief, Freedom Financial Network',
       'Healthfirst (New York), naviHealth',
       'Granular, Intuit, John Deere', 'Pfizer, AstraZeneca, Merck',
       'Foursquare', 'Paychex, Insperity, ADP', 'Apple, Microsoft',
       'Qlik, Tableau Software, Informatica',
       'eClinicalWorks, NextGen Healthcare, athenahealth',
       'PPD, INC Research, PRA Health Sciences',
       'Life Fitness, Brooks Running, Under Armour',
       'Northwestern Mutual, American Family Insurance, MetLife',
       'Cadence Design Systems, Synopsys, Altium Limited',
       'Liberty Mutual Insurance, EMPLOYERS, Travelers',
       'Genentech, Novartis, AstraZeneca', 'Google, Amazon, NVIDIA',
       'MedStar Health, University of Maryland Medical Center, LifeBridge Health',
       'Ancestry, Verily Life Sciences, Abbott Laboratories',
       'Belly, SpotOn'], dtype=object)

In [48]:
data.head()

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,...,age,python_yn,R_yn,spark,aws,excel,job_simp,seniority,desc_len,num_comp
0,0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research\n3.8,"Albuquerque, NM","Goleta, CA",4,1973,...,47,1,0,0,0,1,data scientist,na,2536,0
1,1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System\n3.4,"Linthicum, MD","Baltimore, MD",7,1984,...,36,1,0,0,0,0,data scientist,na,4783,0
2,2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\n4.8,"Clearwater, FL","Clearwater, FL",4,2010,...,10,1,0,1,0,1,data scientist,na,3461,0
3,3,Data Scientist,$56K-$97K (Glassdoor est.),*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL\n3.8,"Richland, WA","Richland, WA",5,1965,...,55,1,0,0,0,0,data scientist,na,3883,3
4,4,Data Scientist,$86K-$143K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",2,1998,...,22,1,0,0,0,1,data scientist,na,2728,3

In [15]:
data['num_comp'].unique()

array([0, 3, 2, 1, 4], dtype=int64)

In [56]:
data['skills']=data['python_yn']+data['R_yn']+data['spark']+data['aws']+data['excel']

In [49]:
data.columns

Index(['Unnamed: 0', 'Job Title', 'Salary Estimate', 'Job Description',
       'Rating', 'Company Name', 'Location', 'Headquarters', 'Size', 'Founded',
       'Type of ownership', 'Industry', 'Sector', 'Revenue', 'Competitors',
       'hourly', 'employer_provided', 'min_salary', 'max_salary', 'avg_salary',
       'company_txt', 'job_state', 'same_state', 'age', 'python_yn', 'R_yn',
       'spark', 'aws', 'excel', 'job_simp', 'seniority', 'desc_len',
       'num_comp'],
      dtype='object')

In [55]:
data['desc_len']

0      2536
1      4783
2      3461
3      3883
4      2728
       ...
737    6162
738    6130
739    3078
740    1642
741    3673
Name: desc_len, Length: 741, dtype: int64

In [57]:
data.drop(columns=['python_yn','R_yn','spark','aws','excel'],inplace=True)

In [58]:
data.head()

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,...,avg_salary,company_txt,job_state,same_state,age,job_simp,seniority,desc_len,num_comp,skills
0,0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research\n3.8,"Albuquerque, NM","Goleta, CA",4,1973,...,72.0,Tecolote Research,NM,0,47,data scientist,na,2536,0,2
1,1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System\n3.4,"Linthicum, MD","Baltimore, MD",7,1984,...,87.5,University of Maryland Medical System,MD,0,36,data scientist,na,4783,0,1
2,2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\n4.8,"Clearwater, FL","Clearwater, FL",4,2010,...,85.0,KnowBe4,FL,1,10,data scientist,na,3461,0,3
3,3,Data Scientist,$56K-$97K (Glassdoor est.),*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL\n3.8,"Richland, WA","Richland, WA",5,1965,...,76.5,PNNL,WA,1,55,data scientist,na,3883,3,1
4,4,Data Scientist,$86K-$143K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",2,1998,...,114.5,Affinity Solutions,NY,1,22,data scientist,na,2728,3,2

In [59]:
data.columns

Index(['Unnamed: 0', 'Job Title', 'Salary Estimate', 'Job Description',
       'Rating', 'Company Name', 'Location', 'Headquarters', 'Size', 'Founded',
       'Type of ownership', 'Industry', 'Sector', 'Revenue', 'Competitors',
       'hourly', 'employer_provided', 'min_salary', 'max_salary', 'avg_salary',
       'company_txt', 'job_state', 'same_state', 'age', 'job_simp',
       'seniority', 'desc_len', 'num_comp', 'skills'],
      dtype='object')

In [70]:
data['employer_provided'].unique()

array([0, 1], dtype=int64)

In [71]:
data['Type of ownership'].unique()

array(['Company - Private', 'Other Organization', 'Government',
       'Company - Public', 'Hospital', 'Subsidiary or Business Segment',
       'Nonprofit Organization', 'Unknown', 'College / University',
       'School / School District'], dtype=object)

In [72]:
data['Salary Estimate'].unique()

array(['$53K-$91K (Glassdoor est.)', '$63K-$112K (Glassdoor est.)',
       '$80K-$90K (Glassdoor est.)', '$56K-$97K (Glassdoor est.)',
       '$86K-$143K (Glassdoor est.)', '$71K-$119K (Glassdoor est.)',
       '$54K-$93K (Glassdoor est.)', '$86K-$142K (Glassdoor est.)',
       '$38K-$84K (Glassdoor est.)', '$120K-$160K (Glassdoor est.)',
       '$126K-$201K (Glassdoor est.)', '$64K-$106K (Glassdoor est.)',
       '$106K-$172K (Glassdoor est.)', '$46K-$85K (Glassdoor est.)',
       '$83K-$144K (Glassdoor est.)', '$102K-$190K (Glassdoor est.)',
       '$67K-$137K (Glassdoor est.)', '$118K-$189K (Glassdoor est.)',
       '$110K-$175K (Glassdoor est.)', '$64K-$111K (Glassdoor est.)',
       '$81K-$130K (Glassdoor est.)', '$73K-$119K (Glassdoor est.)',
       '$86K-$139K (Glassdoor est.)', '$63K-$105K (Glassdoor est.)',
       '$109K-$177K (Glassdoor est.)', '$63K-$110K (Glassdoor est.)',
       '$75K-$124K (Glassdoor est.)', '$34K-$61K (Glassdoor est.)',
       '$72K-$120K (Glassdoor est.)', '$93K-$149K (Glassdoor est.)',
       '$85K-$140K (Glassdoor est.)', '$77K-$135K (Glassdoor est.)',
       '$82K-$132K (Glassdoor est.)', '$83K-$137K (Glassdoor est.)',
       '$115K-$180K (Glassdoor est.)', '$74K-$138K (Glassdoor est.)',
       '$64K-$112K (Glassdoor est.)', '$68K-$129K (Glassdoor est.)',
       '$52K-$113K (Glassdoor est.)', '$110K-$150K(Employer est.)',
       'Employer Provided Salary:$150K-$160K',
       '$158K-$211K (Glassdoor est.)', '$20K-$39K (Glassdoor est.)',
       '$56K-$117K (Glassdoor est.)', '$63K-$99K (Glassdoor est.)',
       '$68K-$114K (Glassdoor est.)', '$41K-$95K (Glassdoor est.)',
       '$86K-$144K (Glassdoor est.)', '$80K-$139K (Glassdoor est.)',
       '$56K-$95K (Glassdoor est.)', '$120K-$189K (Glassdoor est.)',
       '$111K-$176K (Glassdoor est.)', '$84K-$146K (Glassdoor est.)',
       '$107K-$172K (Glassdoor est.)', '$49K-$85K (Glassdoor est.)',
       '$61K-$109K (Glassdoor est.)', '$88K-$148K (Glassdoor est.)',
       '$60K-$99K (Glassdoor est.)', '$41K-$72K (Glassdoor est.)',
       '$96K-$161K (Glassdoor est.)', '$65K-$130K (Glassdoor est.)',
       '$52K-$81K (Glassdoor est.)', '$139K-$220K (Glassdoor est.)',
       '$50K-$102K (Glassdoor est.)', '$85K-$139K (Glassdoor est.)',
       '$74K-$122K (Glassdoor est.)', '$99K-$157K (Glassdoor est.)',
       '$79K-$222K (Glassdoor est.)', '$57K-$118K (Glassdoor est.)',
       '$86K-$141K (Glassdoor est.)', '$94K-$154K (Glassdoor est.)',
       '$37K-$76K (Glassdoor est.)', '$100K-$160K (Glassdoor est.)',
       '$55K-$100K (Glassdoor est.)', '$60K-$114K (Glassdoor est.)',
       '$39K-$68K (Glassdoor est.)', '$64K-$107K (Glassdoor est.)',
       '$31K-$65K (Glassdoor est.)', '$34K-$62K (Glassdoor est.)',
       '$117K-$231K (Glassdoor est.)', '$79K-$134K (Glassdoor est.)',
       '$52K-$93K (Glassdoor est.)', '$55K-$116K (Glassdoor est.)',
       '$72K-$123K (Glassdoor est.)', '$74K-$124K (Glassdoor est.)',
       '$40K-$73K (Glassdoor est.)', '$102K-$164K (Glassdoor est.)',
       '$89K-$153K (Glassdoor est.)', '$61K-$110K (Glassdoor est.)',
       '$65K-$110K (Glassdoor est.)', '$200K-$275K(Employer est.)',
       '$68K-$123K (Glassdoor est.)', '$80K-$129K (Glassdoor est.)',
       '$39K-$71K (Glassdoor est.)', '$38K-$85K (Glassdoor est.)',
       '$121K-$193K (Glassdoor est.)', '$54K-$102K (Glassdoor est.)',
       '$102K-$163K (Glassdoor est.)', '$76K-$140K (Glassdoor est.)',
       '$60K-$101K (Glassdoor est.)', '$82K-$133K (Glassdoor est.)',
       '$65K-$125K (Glassdoor est.)', '$91K-$148K (Glassdoor est.)',
       '$95K-$173K (Glassdoor est.)', '$77K-$124K (Glassdoor est.)',
       '$80K-$135K (Glassdoor est.)', '$85K-$159K (Glassdoor est.)',
       '$80K-$105K(Employer est.)', '$43K-$81K (Glassdoor est.)',
       '$29K-$50K (Glassdoor est.)', '$26K-$55K (Glassdoor est.)',
       '$61K-$118K (Glassdoor est.)', '$60K-$102K (Glassdoor est.)',
       '$112K-$182K (Glassdoor est.)', '$51K-$112K (Glassdoor est.)',
       '$113K-$223K (Glassdoor est.)', '$72K-$129K (Glassdoor est.)',
       '$71K-$123K (Glassdoor est.)',
       'Employer Provided Salary:$120K-$145K',
       '$80K-$120K (Glassdoor est.)', '$80K-$130K (Glassdoor est.)',
       '$59K-$115K (Glassdoor est.)', '$71K-$136K (Glassdoor est.)',
       '$81K-$167K (Glassdoor est.)', '$71K-$204K (Glassdoor est.)',
       '$75K-$125K (Glassdoor est.)', '$77K-$136K (Glassdoor est.)',
       '$74K-$123K (Glassdoor est.)', '$44K-$78K (Glassdoor est.)',
       '$65K-$148K (Glassdoor est.)', '$59K-$110K (Glassdoor est.)',
       '$85K-$134K (Glassdoor est.)', '$124K-$204K (Glassdoor est.)',
       '$131K-$207K (Glassdoor est.)', '$110K-$174K (Glassdoor est.)',
       '$52K-$101K (Glassdoor est.)', '$81K-$133K (Glassdoor est.)',
       '$132K-$211K (Glassdoor est.)', '$74K-$140K (Glassdoor est.)',
       '$100K-$190K (Glassdoor est.)', '$43K-$80K (Glassdoor est.)',
       '$17-$24 Per Hour(Glassdoor est.)', '$91K-$149K (Glassdoor est.)',
       '$42K-$82K (Glassdoor est.)', '$116K-$185K (Glassdoor est.)',
       '$59K-$116K (Glassdoor est.)', '$48K-$95K (Glassdoor est.)',
       '$31K-$72K (Glassdoor est.)', '$105K-$198K (Glassdoor est.)',
       '$98K-$182K (Glassdoor est.)', '$73K-$124K (Glassdoor est.)',
       'Employer Provided Salary:$200K-$250K',
       '$21-$34 Per Hour(Glassdoor est.)', '$117K-$206K (Glassdoor est.)',
       '$111K-$183K (Glassdoor est.)', '$81K-$159K (Glassdoor est.)',
       '$83K-$166K (Glassdoor est.)', '$114K-$182K (Glassdoor est.)',
       '$42K-$76K (Glassdoor est.)', '$114K-$179K (Glassdoor est.)',
       '$60K-$123K (Glassdoor est.)', '$100K-$166K (Glassdoor est.)',
       '$108K-$173K (Glassdoor est.)', '$48K-$93K (Glassdoor est.)',
       '$54K-$115K (Glassdoor est.)', '$60K-$127K (Glassdoor est.)',
       '$90K-$179K (Glassdoor est.)', '$138K-$224K (Glassdoor est.)',
       '$190K-$220K(Employer est.)', '$35K-$62K (Glassdoor est.)',
       '$18-$25 Per Hour(Glassdoor est.)', '$39K-$66K (Glassdoor est.)',
       '$42K-$86K (Glassdoor est.)', '$69K-$127K (Glassdoor est.)',
       '$40K-$68K (Glassdoor est.)', '$49K-$113K (Glassdoor est.)',
       '$75K-$140K (Glassdoor est.)', '$66K-$112K (Glassdoor est.)',
       '$76K-$125K (Glassdoor est.)', '$44K-$86K (Glassdoor est.)',
       '$15-$25 Per Hour(Glassdoor est.)', '$53K-$92K (Glassdoor est.)',
       '$65K-$120K (Glassdoor est.)', '$60K-$103K (Glassdoor est.)',
       '$53K-$105K (Glassdoor est.)', '$33K-$62K (Glassdoor est.)',
       '$48K-$90K (Glassdoor est.)', '$34K-$64K (Glassdoor est.)',
       '$66K-$111K (Glassdoor est.)', '$91K-$138K (Glassdoor est.)',
       '$62K-$114K (Glassdoor est.)', '$71K-$129K (Glassdoor est.)',
       '$74K-$119K (Glassdoor est.)', '$55K-$97K (Glassdoor est.)',
       '$15K-$16K(Employer est.)', '$61K-$106K (Glassdoor est.)',
       '$127K-$199K (Glassdoor est.)', '$74K-$126K (Glassdoor est.)',
       '$33K-$72K (Glassdoor est.)', '$37K-$63K (Glassdoor est.)',
       '$67K-$119K (Glassdoor est.)', '$72K-$117K (Glassdoor est.)',
       '$78K-$126K (Glassdoor est.)', '$116K-$194K (Glassdoor est.)',
       '$83K-$133K (Glassdoor est.)', '$45K-$82K (Glassdoor est.)',
       '$83K-$135K (Glassdoor est.)', '$70K-$122K (Glassdoor est.)',
       '$70K-$132K (Glassdoor est.)', '$54K-$101K (Glassdoor est.)',
       '$68K-$112K (Glassdoor est.)', '$42K-$74K (Glassdoor est.)',
       '$95K-$161K (Glassdoor est.)', '$76K-$126K (Glassdoor est.)',
       '$108K-$176K (Glassdoor est.)', '$130K-$208K (Glassdoor est.)',
       '$37K-$68K (Glassdoor est.)', '$52K-$99K (Glassdoor est.)',
       '$105K-$173K (Glassdoor est.)', '$71K-$134K (Glassdoor est.)',
       '$39K-$82K (Glassdoor est.)', '$88K-$162K (Glassdoor est.)',
       '$55K-$99K (Glassdoor est.)', '$67K-$117K (Glassdoor est.)',
       '$92K-$150K (Glassdoor est.)', '$116K-$209K (Glassdoor est.)',
       '$38K-$82K (Glassdoor est.)', 'Employer Provided Salary:$85K-$90K',
       '$62K-$119K (Glassdoor est.)', '$84K-$136K (Glassdoor est.)',
       '$52K-$89K (Glassdoor est.)', '$65K-$119K (Glassdoor est.)',
       '$63K-$101K (Glassdoor est.)', '$127K-$202K (Glassdoor est.)',
       '$31K-$57K (Glassdoor est.)', '$75K-$143K (Glassdoor est.)',
       '$105K-$194K (Glassdoor est.)', '$45K-$86K (Glassdoor est.)',
       '$95K-$154K (Glassdoor est.)', '$80K-$148K (Glassdoor est.)',
       '$36K-$62K (Glassdoor est.)', '$50K-$92K (Glassdoor est.)',
       '$67K-$135K (Glassdoor est.)', '$42K-$80K (Glassdoor est.)',
       '$68K-$139K (Glassdoor est.)', '$34K-$92K (Glassdoor est.)',
       '$54K-$71K (Glassdoor est.)', '$65K-$124K (Glassdoor est.)',
       '$109K-$200K (Glassdoor est.)', '$61K-$113K (Glassdoor est.)',
       '$43K-$86K (Glassdoor est.)', '$74K-$149K (Glassdoor est.)',
       '$113K-$196K (Glassdoor est.)', '$97K-$160K (Glassdoor est.)',
       '$24-$39 Per Hour(Glassdoor est.)', '$102K-$172K (Glassdoor est.)',
       '$108K-$171K (Glassdoor est.)', '$76K-$142K (Glassdoor est.)',
       '$202K-$306K (Glassdoor est.)', '$49K-$97K (Glassdoor est.)',
       '$65K-$134K (Glassdoor est.)', '$32K-$59K (Glassdoor est.)',
       '$87K-$158K (Glassdoor est.)', '$107K-$173K (Glassdoor est.)',
       '$56K-$99K (Glassdoor est.)',
       'Employer Provided Salary:$25-$28 Per Hour',
       '$80K-$155K (Glassdoor est.)', '$43K-$98K (Glassdoor est.)',
       '$45K-$78K (Glassdoor est.)', '$44K-$96K (Glassdoor est.)',
       '$50K-$110K (Glassdoor est.)', '$61K-$119K (Glassdoor est.)',
       'Employer Provided Salary:$100K-$140K',
       '$56K-$91K (Glassdoor est.)', '$101K-$158K (Glassdoor est.)',
       '$125K-$210K (Glassdoor est.)', '$43K-$77K (Glassdoor est.)',
       '$139K-$221K (Glassdoor est.)', '$78K-$147K (Glassdoor est.)',
       '$37K-$66K (Glassdoor est.)', '$38K-$64K (Glassdoor est.)',
       '$43K-$82K (Glassdoor est.)', '$90K-$110K(Employer est.)',
       '$93K-$151K (Glassdoor est.)', '$40K-$101K (Glassdoor est.)',
       '$97K-$180K (Glassdoor est.)', '$81K-$134K (Glassdoor est.)',
       '$84K-$157K (Glassdoor est.)', '$121K-$203K (Glassdoor est.)',
       '$52K-$85K (Glassdoor est.)', '$81K-$140K (Glassdoor est.)',
       '$83K-$148K (Glassdoor est.)', '$31K-$55K (Glassdoor est.)',
       '$102K-$178K (Glassdoor est.)',
       'Employer Provided Salary:$110K-$130K',
       '$48K-$85K (Glassdoor est.)', '$66K-$123K (Glassdoor est.)',
       '$92K-$146K (Glassdoor est.)', '$21-$29 Per Hour(Glassdoor est.)',
       '$10-$17 Per Hour(Glassdoor est.)', '$150K-$239K (Glassdoor est.)',
       '$52K-$91K (Glassdoor est.)', '$82K-$129K(Employer est.)',
       '$47K-$101K (Glassdoor est.)', '$49K-$76K (Glassdoor est.)',
       '$43K-$88K (Glassdoor est.)', '$124K-$199K (Glassdoor est.)',
       '$97K-$181K (Glassdoor est.)', '$100K-$173K (Glassdoor est.)',
       '$53K-$96K (Glassdoor est.)', '$65K-$96K (Glassdoor est.)',
       '$75K-$127K (Glassdoor est.)', '$94K-$139K (Glassdoor est.)',
       '$176K-$289K (Glassdoor est.)', '$92K-$149K (Glassdoor est.)',
       '$118K-$188K (Glassdoor est.)', '$108K-$146K (Glassdoor est.)',
       '$65K-$106K (Glassdoor est.)', '$55K-$98K (Glassdoor est.)',
       '$94K-$162K (Glassdoor est.)', '$63K-$120K (Glassdoor est.)',
       '$126K-$228K (Glassdoor est.)', '$80K-$134K (Glassdoor est.)',
       '$85K-$142K (Glassdoor est.)', '$87K-$140K (Glassdoor est.)',
       '$76K-$127K (Glassdoor est.)', '$54K-$92K (Glassdoor est.)',
       '$61K-$100K (Glassdoor est.)', '$112K-$179K (Glassdoor est.)',
       '$63K-$111K (Glassdoor est.)', '$75K-$126K (Glassdoor est.)',
       '$110K-$184K (Glassdoor est.)', '$76K-$145K (Glassdoor est.)',
       '$70K-$118K (Glassdoor est.)', '$94K-$153K (Glassdoor est.)',
       '$150K-$180K (Glassdoor est.)', '$42K-$77K (Glassdoor est.)',
       '$47K-$85K (Glassdoor est.)', '$62K-$112K (Glassdoor est.)',
       '$64K-$108K (Glassdoor est.)', '$89K-$144K (Glassdoor est.)',
       '$55K-$105K (Glassdoor est.)', '$135K-$211K (Glassdoor est.)',
       '$57K-$80K (Glassdoor est.)', '$129K-$215K (Glassdoor est.)',
       '$63K-$127K (Glassdoor est.)', '$50K-$89K (Glassdoor est.)',
       '$71K-$124K (Glassdoor est.)', '$69K-$121K (Glassdoor est.)',
       '$150K-$238K (Glassdoor est.)', '$77K-$132K (Glassdoor est.)',
       '$59K-$112K (Glassdoor est.)', '$35K-$65K (Glassdoor est.)',
       '$79K-$147K (Glassdoor est.)', '$119K-$187K (Glassdoor est.)',
       '$90K-$157K (Glassdoor est.)', '$32K-$62K (Glassdoor est.)',
       '$116K-$208K (Glassdoor est.)', '$102K-$165K (Glassdoor est.)',
       '$91K-$159K (Glassdoor est.)', '$80K-$133K (Glassdoor est.)',
       '$39K-$69K (Glassdoor est.)', '$27K-$48K (Glassdoor est.)',
       '$36K-$71K (Glassdoor est.)', '$130K-$206K (Glassdoor est.)',
       '$99K-$178K (Glassdoor est.)', '$86K-$137K (Glassdoor est.)',
       '$37K-$100K (Glassdoor est.)', '$58K-$111K (Glassdoor est.)',
       '$72K-$133K (Glassdoor est.)', '$61K-$126K (Glassdoor est.)',
       '$95K-$160K (Glassdoor est.)', '$33K-$61K (Glassdoor est.)',
       '$69K-$119K (Glassdoor est.)', '$67K-$127K (Glassdoor est.)',
       '$66K-$117K (Glassdoor est.)', '$50K-$98K (Glassdoor est.)',
       '$90K-$153K (Glassdoor est.)', '$42K-$79K (Glassdoor est.)',
       '$84K-$153K (Glassdoor est.)', '$44K-$73K (Glassdoor est.)',
       '$40K-$87K (Glassdoor est.)', '$72K-$142K (Glassdoor est.)',
       '$74K-$137K (Glassdoor est.)', '$57K-$109K (Glassdoor est.)',
       '$136K-$208K (Glassdoor est.)', '$171K-$272K (Glassdoor est.)',
       '$65K-$126K (Glassdoor est.)', '$118K-$228K (Glassdoor est.)',
       '$113K-$182K (Glassdoor est.)', '$58K-$104K (Glassdoor est.)',
       '$58K-$108K (Glassdoor est.)', '$81K-$161K (Glassdoor est.)',
       '$115K-$220K (Glassdoor est.)', '$71K-$144K (Glassdoor est.)',
       '$32K-$57K (Glassdoor est.)', '$79K-$136K (Glassdoor est.)',
       '$48K-$113K (Glassdoor est.)', '$27-$47 Per Hour(Glassdoor est.)',
       '$68K-$125K (Glassdoor est.)', '$39K-$67K (Glassdoor est.)',
       '$71K-$135K (Glassdoor est.)', '$61K-$123K (Glassdoor est.)',
       '$87K-$141K (Glassdoor est.)', '$71K-$121K (Glassdoor est.)',
       '$72K-$121K (Glassdoor est.)', '$51K-$88K (Glassdoor est.)',
       '$101K-$141K (Glassdoor est.)', '$79K-$127K (Glassdoor est.)',
       '$81K-$132K (Glassdoor est.)',
       'Employer Provided Salary:$120K-$140K',
       '$65K-$113K (Glassdoor est.)', '$59K-$125K (Glassdoor est.)',
       '$80K-$142K (Glassdoor est.)', '$62K-$113K (Glassdoor est.)'],
      dtype=object)

In [75]:
data['avg_salary'].unique()

array([ 72. ,  87.5,  85. ,  76.5, 114.5,  95. ,  73.5, 114. ,  61. ,
       140. , 163.5, 139. ,  65.5, 113.5, 146. , 102. , 153.5, 142.5,
       105.5,  96. , 112.5,  84. , 143. ,  86.5,  99.5,  47.5, 121. ,
       106. , 107. , 110. , 147.5,  88. ,  98.5,  82.5, 130. , 155. ,
       184.5,  29.5,  81. ,  91. ,  68. , 115. , 109.5,  75.5, 154.5,
       143.5, 139.5,  67. , 118. ,  79.5,  56.5, 128.5,  97.5,  66.5,
       179.5,  76. , 112. ,  98. , 128. , 150.5, 124. ,  77.5,  87. ,
        53.5,  85.5,  48. , 174. , 106.5,  72.5,  99. , 133. , 237.5,
        95.5, 104.5,  55. ,  61.5, 157. ,  78. , 132.5, 108. ,  80.5,
       107.5, 119.5, 134. , 100.5, 122. ,  92.5,  62. ,  39.5,  40.5,
        89.5, 147. ,  81.5, 168. ,  97. , 100. , 105. , 103.5, 137.5,
        84.5, 164. , 169. , 142. , 171.5, 145. ,  20.5, 120. ,  71.5,
        51.5, 151.5, 225. ,  27.5, 161.5, 124.5, 148. ,  59. , 146.5,
        91.5, 140.5,  70.5,  93.5, 134.5, 181. , 205. ,  48.5,  21.5,
        52.5,  64. ,  54. ,  89. ,  65. ,  20. ,  79. ,  69. ,  49. ,
        88.5,  96.5,  15.5,  83.5, 163. ,  50. ,  93. ,  94.5,  63.5,
       109. , 101. ,  90. ,  58. , 102.5,  60.5, 125. ,  77. ,  92. ,
       162.5,  60. ,  90.5,  82. , 164.5,  44. , 149.5,  71. ,  63. ,
        62.5,  64.5, 111.5,  31.5, 137. , 254. ,  73. ,  45.5, 122.5,
        26.5, 117.5,  70. ,  80. , 129.5, 167.5, 180. ,  51. , 138.5,
       120.5, 162. ,  68.5, 110.5, 115.5,  43. , 119. ,  25. ,  13.5,
       194.5,  74. , 136.5,  74.5, 116.5, 232.5, 153. , 127. , 177. ,
       101.5, 145.5,  94. , 123.5, 165. ,  59.5,  66. ,  86. , 173. ,
       172. ,  69.5, 194. , 113. ,  47. , 133.5,  37.5, 127.5, 121.5,
       118.5,  58.5,  83. , 221.5,  44.5,  37. ,  53. , 103. , 111. ])

In [74]:
data['Job Description'][0]

'Data Scientist\nLocation: Albuquerque, NM\nEducation Required: Bachelorâ€™s degree required, preferably in math, engineering, business, or the sciences.\nSkills Required:\nBachelorâ€™s Degree in relevant field, e.g., math, data analysis, database, computer science, Artificial Intelligence (AI); three yearsâ€™ experience credit for Masterâ€™s degree; five yearsâ€™ experience credit for a Ph.D\nApplicant should be proficient in the use of Power BI, Tableau, Python, MATLAB, Microsoft Word, PowerPoint, Excel, and working knowledge of MS Access, LMS, SAS, data visualization tools, and have a strong algorithmic aptitude\nExcellent verbal and written communication skills, and quantitative analytical skills are required\nApplicant must be able to work in a team environment\nU.S. citizenship and ability to obtain a DoD Secret Clearance required\nResponsibilities: The applicant will be responsible for formulating analytical solutions to complex data problems; creating data analytic models to improve data metrics; analyzing customer behavior and trends; delivering insights to stakeholders, as well as designing and crafting reports, dashboards, models, and algorithms to make data insights actionable; selecting features, building and optimizing classifiers using machine learning techniques; data mining using state-of-the-art methods, extending organizationâ€™s data with third party sources of information when needed; enhancing data collection procedures to include information that is relevant for building analytic systems; processing, cleansing, and verifying the integrity of data used for analysis; doing ad-hoc analysis and presenting results in a clear manner; and creating automated anomaly detection systems and constant tracking of its performance.\nBenefits:\nWe offer competitive salaries commensurate with education and experience. We have an excellent benefits package that includes:\nComprehensive health, dental, life, long and short term disability insurance\n100% Company funded Retirement Plans\nGenerous vacation, holiday and sick pay plans\nTuition assistance\n\nBenefits are provided to employees regularly working a minimum of 30 hours per week.\n\nTecolote Research is a private, employee-owned corporation where people are our primary resource. Our investments in technology and training give our employees the tools to ensure our clients are provided the solutions they need, and our very high employee retention rate and stable workforce is an added value to our customers. Apply now to connect with a company that invests in you.'

In [84]:
data.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Headquarters,Size,Founded,Type of ownership,Industry,...,min_salary,max_salary,avg_salary,company_txt,age,job_simp,seniority,desc_len,num_comp,skills
0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research\n3.8,"Goleta, CA",4,1973,Company - Private,Aerospace & Defense,...,53,91,72.0,Tecolote Research,47,data scientist,na,2536,0,2
1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System\n3.4,"Baltimore, MD",7,1984,Other Organization,Health Care Services & Hospitals,...,63,112,87.5,University of Maryland Medical System,36,data scientist,na,4783,0,1
2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\n4.8,"Clearwater, FL",4,2010,Company - Private,Security Services,...,80,90,85.0,KnowBe4,10,data scientist,na,3461,0,3
3,Data Scientist,$56K-$97K (Glassdoor est.),*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL\n3.8,"Richland, WA",5,1965,Government,Energy,...,56,97,76.5,PNNL,55,data scientist,na,3883,3,1
4,Data Scientist,$86K-$143K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY",2,1998,Company - Private,Advertising & Marketing,...,86,143,114.5,Affinity Solutions,22,data scientist,na,2728,3,2

In [79]:
data.drop(['job_state','Location','same_state'],axis=1,inplace=True)

In [81]:
data.columns

Index(['Unnamed: 0', 'Job Title', 'Salary Estimate', 'Job Description',
       'Rating', 'Company Name', 'Headquarters', 'Size', 'Founded',
       'Type of ownership', 'Industry', 'Sector', 'Revenue', 'Competitors',
       'hourly', 'employer_provided', 'min_salary', 'max_salary', 'avg_salary',
       'company_txt', 'age', 'job_simp', 'seniority', 'desc_len', 'num_comp',
       'skills'],
      dtype='object')

In [83]:
data.drop(['Unnamed: 0'],axis=1,inplace=True)

In [86]:
data['Job Title'].unique()

array(['Data Scientist', 'Healthcare Data Scientist',
       'Research Scientist', 'Staff Data Scientist - Technology',
       'Data Analyst', 'Data Engineer I', 'Scientist I/II, Biology',
       'Customer Data Scientist',
       'Data Scientist - Health Data Analytics',
       'Senior Data Scientist / Machine Learning',
       'Data Scientist - Quantitative', 'Digital Health Data Scientist',
       'Associate Data Analyst', 'Clinical Data Scientist',
       'Data Scientist / Machine Learning Expert', 'Web Data Analyst',
       'Senior Data Scientist', 'Data Engineer',
       'Data Scientist - Algorithms & Inference', 'Scientist',
       'Lead Data Scientist', 'Spectral Scientist/Engineer',
       'College Hire - Data Scientist - Open to December 2019 Graduates',
       'Data Scientist, Office of Data Science', 'Data Science Analyst',
       'Senior Risk Data Scientist',
       'Data Scientist in Artificial Intelligence Early Career',
       'Data Scientist - Research', 'R&D Data Analysis Scientist',
       'Analytics Consultant', 'Director, Data Science',
       'Data Scientist SR', 'R&D Sr Data Scientist',
       'Customer Data Scientist/Sales Engineer (Bay',
       'Jr. Business Data Analyst', 'Data Management Specialist',
       'E-Commerce Data Analyst', 'Sr. Scientist II',
       'Insurance Data Scientist', 'Data Modeler',
       'Data Analyst / Scientist', 'Data Scientist, Rice University',
       'Financial Data Analyst', 'Senior Data Analyst',
       'Ag Data Scientist', 'Data Scientist II', 'Senior Data Engineer',
       'Project Scientist', 'Data Analytics Manager',
       'Senior Machine Learning (ML) Engineer / Data Scientist - Cyber Security Analytics',
       'Associate Scientist', 'Scientist 2, QC Viral Vector',
       'Machine Learning Engineer', 'Data Scientist/ML Engineer',
       'Sr. Data Scientist', 'Data Engineer 4 - Contract',
       'Data Analyst - Asset Management',
       'Senior Research Scientist - Embedded System Development for DevOps',
       'Data Scientist - Bioinformatics',
       'Customer Data Scientist/Sales Engineer',
       'MongoDB Data Engineer II', 'Senior Data Scientist Statistics',
       'Senior Spark Engineer (Data Science)',
       'BI & Platform Analytics Manager',
       'Sr. Data Scientist - Analytics, Personalized Healthcare (PHC)',
       'Pricipal Scientist Molecular and cellular biologist',
       'Data Scientist (Actuary, FSA or ASA)', 'Staff Data Scientist',
       'Data Engineer 5 - Contract (Remote)',
       'Senior Scientist - Neuroscience', 'Medical Lab Scientist',
       'Risk and Analytics IT, Data Scientist',
       'Scientist, Analytical Development', 'Analytics Manager',
       'Digital Marketing & ECommerce Data Analyst',
       'Sr. Scientist - Digital & Image Analysis/Computational Pathology',
       'Principal Scientist - Immunologist',
       'Principal Data Scientist with over 10 years experience',
       'MED TECH/LAB SCIENTIST - LABORATORY',
       'Sr. Scientist, Quantitative Translational Sciences',
       'Sr. Data Scientist II', 'Excel / VBA / SQL Data Analyst',
       'Machine Learning Research Scientist', 'VP, Data Science',
       'Radar Data Analyst', 'PL Actuarial-Lead Data Scientist',
       'PV Scientist', 'Senior Data & Machine Learning Scientist',
       'Principal Data Scientist (Computational Chemistry)',
       'Principal Scientist, Chemistry & Immunology',
       'Software Engineer - Data Visualization',
       'Scientist/Senior Scientist, Autoimmune',
       'Staff Machine Learning Engineer',
       'Principal Scientist, Hematology', 'Lead Data Engineer',
       'Marketing Data Analyst', 'Medical Laboratory Scientist',
       'R&D Specialist/ Food Scientist',
       'Senior Research Scientist-Machine Learning',
       'Analytics Manager - Data Mart',
       'Sr. Data Engineer - Contract-to-Hire (Java)',
       'MED TECH/LAB SCIENTIST- SOUTH COASTAL LAB',
       'Food Scientist - Developer',
       'Staff Scientist-Downstream Process Development',
       'Sr. Data Engineer',
       'Senior Research Statistician- Data Scientist',
       'Business Data Analyst, SQL',
       'Medical Technologist / Clinical Laboratory Scientist',
       'Associate Data Scientist/Computer Scientist',
       'Business Intelligence Analyst / Developer',
       'System and Data Analyst', 'Data & Analytics Consultant (NYC)',
       'Big Data Engineer - Chicago - Future Opportunity',
       'Survey Data Analyst', 'Lead Health Data Analyst - Front End',
       'Junior Data Analyst', 'SQL Data Engineer',
       'Sr. Data Scientist, Cyber-Security LT Contract',
       'Insurance Financial Data Analyst', 'Data Engineer I - Azure',
       'Information Security Data Analyst', 'Data Scientist, Senior',
       'CONSULTANTâ€“ DATA ANALYTICS GROUP',
       'Data Engineer, Data Engineering and Artifical Intelligence',
       'Staff Scientist',
       'Associate Scientist/Scientist, Process Analytical Technology - Small Molecule Analytical Chemistry',
       'Sr. Data Analyst', 'Program/Data Analyst',
       'Senior Data Scientist: Causal & Predictive analytics AI Innovation Lab',
       'Principal Data Engineer, Data Platform & Insights',
       'RESEARCH SCIENTIST - BIOLOGICAL SAFETY', 'Data Operations Lead',
       'Big Data Engineer', 'Clinical Data Analyst',
       'Computational Chemist/Data Scientist',
       'Product Engineer â€“ Data Science', 'Market Data Analyst',
       'Staff Data Engineer', 'Associate Data Engineer',
       'Staff BI and Data Engineer',
       'Director - Data, Privacy and AI Governance',
       'Scientist Manufacturing - Kentucky BioProcessing',
       'Data Analytics Project Manager',
       'Consultant - Analytics Consulting',
       'Senior Scientist (Neuroscience)',
       'Machine Learning Engineer - Regulatory',
       'Scientist, Bacteriology',
       'Associate Director, Platform and DevOps- Data Engineering and Aritifical Intelligence',
       'Clinical Laboratory Scientist',
       'Senior Data Scientist - R&D Oncology',
       'Director II, Data Science - GRM Actuarial',
       'Scientist, Molecular/Cellular Biologist',
       'Scientist - Analytical Services',
       'Associate Data Analyst- Graduate Development Program',
       'Senior Insurance Data Scientist',
       'Senior Data Science Systems Engineer',
       'ENVIRONMENTAL ENGINEER/SCIENTIST',
       'Senior Scientist - Regulatory Submissions',
       'Scientist - Biomarker and Flow Cytometry',
       'Revenue Analytics Manager',
       'Associate Scientist, LC/MS Biologics',
       'Sr. Scientist Method Development', 'IT - Data Engineer II',
       'Research Scientist, Immunology - Cancer Biology',
       'Project Scientist - Auton Lab, Robotics Institute',
       'Enterprise Architect, Data',
       'Senior Manager, Epidemiologic Data Scientist',
       'Corporate Risk Data Analyst (SQL Based) - Milwaukee or',
       'Marketing Data Analyst, May 2020 Undergrad',
       'Data Modeler - Data Solutions Engineer',
       'Associate Environmental Scientist - Wildlife Biologist',
       'Associate, Data Science, Internal Audit',
       'Sr Data Engineer (Sr BI Developer)',
       'Senior LiDAR Data Scientist', 'Salesforce Analytics Consultant',
       'Technology-Minded, Data Professional Opportunities',
       'Managing Data Scientist/ML Engineer',
       'Scientist, Pharmacometrics', 'Staff Scientist- Upstream PD',
       'Scientist Manufacturing Pharma - Kentucky BioProcessing',
       'Lead Big Data Engineer',
       'Product Engineer â€“ Spatial Data Science and Statistical Analysis',
       'Sr Software Engineer (Data Scientist)',
       'Sr. Data Engineer (ETL Developer)',
       'Senior Data Scientist Artificial Intelligence',
       'Analytics - Business Assurance Data Analyst',
       'Associate Director/Director, Safety Scientist',
       'Senior Scientist, Cell Pharmacology/Assay Development',
       'Data Analyst Senior', 'Lead Data Engineer (Python)',
       'Senior Data Scientist 4 Artificial Intelligence',
       'Medical Lab Scientist - MLT',
       'Senior Operations Data Analyst, Call Center Operations',
       'Director II, Data Science - GRS Predictive Analytics',
       'RESEARCH COMPUTER SCIENTIST - RESEARCH ENGINEER - SR. COMPUTER SCIENTIST - SOFTWARE DEVELOPMENT',
       'Geospatial Software Developer and Data Scientist',
       'Senior Scientist - Toxicologist - Product Integrity (Stewardship)',
       'Systems Engineer II - Data Analyst',
       'Senior Research Analytical Scientist-Non-Targeted Analysis',
       'Director Data Science', 'Sr Data Analyst - IT',
       'Associate Machine Learning Engineer / Data Scientist May 2020 Undergrad',
       'Senior Scientist - Biostatistician',
       'Principal Machine Learning Scientist',
       'Data Analyst, Performance Partnership', 'Data Scientist Manager',
       'Software Data Engineer - College',
       'Senior Data Scientist - Algorithms',
       'Senior Data Scientist Oncology', 'Principal Data Scientist',
       'Data Scientist - Alpha Insights',
       'Associate Principal Scientist, Pharmacogenomics',
       'Data Scientist - Systems Engineering',
       'Data Engineer - Consultant (Charlotte Based)',
       'Data Analyst 1, full-time contract worker for up to 12 months',
       'Scientist, Immuno-Oncology', 'Products Data Analyst II',
       'Lead Data Analyst', 'Data Science Engineer - Mobile',
       'Sr Expert Data Science, Advanced Visual Analytics (Associate level)',
       'IT Associate Data Analyst', 'Business Data Analyst',
       'Data Scientist - Sales',
       'Principal, Data Science - Advanced Analytics',
       'Data Science Project Manager',
       'Sr Scientist, Immuno-Oncology - Oncology',
       'Research Scientist â€“ Security and Privacy',
       'Data Science Manager', 'Data Analyst 2 (Missionary Department)',
       'Supply Chain Data Analyst', 'Data Engineer - ETL',
       'Data Modeler (Analytical Systems)',
       'Data Scientist in Translational Medicine',
       'Product Manager/Data Evangelist',
       'Senior Data Scientist â€“ Visualization, Novartis AI Innovation Lab',
       'Senior Data Analyst/Scientist', 'Data Engineering Analyst',
       'Manager of Data Science',
       'Software Engineer (Data Scientist/Software Engineer) - SISW - MG',
       'Associate Research Scientist I (Protein Expression and Production)',
       'Director, Precision Medicine Clinical Biomarker Scientist',
       'Senior Formulations Scientist II', 'Senior Quantitative Analyst',
       'Research Scientist or Senior Research Scientist - Computer Vision',
       'Data Analyst Chemist - Quality System Contractor',
       'Research Scientist / Principal Research Scientist - Multiphysical Systems',
       'Research Scientist, Machine Learning Department',
       'Foundational Community Supports Data Analyst',
       'Senior Health Data Analyst, Star Ratings',
       'Principal Research Scientist/Team Lead, Medicinal Chemistry - Oncology',
       'Senior Engineer, Data Management Engineering',
       'Quality Control Scientist III- Analytical Development',
       'Clinical Scientist, Clinical Development',
       'Software Engineer Staff Scientist: Human Language Technologies',
       'Manager, Safety Scientist, Medical Safety & Risk Management',
       'Assistant Director/Director, Office of Data Science',
       'Sr. Data Engineer | Big Data SaaS Pipeline',
       'Scientist - CVRM Metabolism - in vivo pharmacology',
       'Data Scientist (Warehouse Automation)', 'Jr. Data Scientist',
       'Data Architect / Data Modeler',
       'Associate Scientist / Sr. Associate Scientist, Antibody Discovery',
       'Machine Learning Engineer (NLP)'], dtype=object)

In [90]:
data['job_simp'].unique()

array(['data scientist', 'na', 'Data Analyst', 'data engineer',
       'director', 'manager', 'mle'], dtype=object)

In [89]:
data.replace({'analyst':'Data Analyst'},inplace=True)

In [91]:
data[data['job_simp']=='na']

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Headquarters,Size,Founded,Type of ownership,Industry,...,min_salary,max_salary,avg_salary,company_txt,age,job_simp,seniority,desc_len,num_comp,skills
8,Research Scientist,$38K-$84K (Glassdoor est.),SUMMARY\n\nThe Research Scientist I will be ta...,3.3,Rochester Regional Health\n3.3,"Rochester, NY",7,2014,Hospital,Health Care Services & Hospitals,...,38,84,61.0,Rochester Regional Health,6,na,na,1538,0,0
16,"Scientist I/II, Biology",$67K-$137K (Glassdoor est.),"Scientist I/II, Biology\n\nCambridge, MA\n\nBI...",3.9,Blueprint Medicines\n3.9,"Cambridge, MA",2,2011,Company - Public,Biotech & Pharmaceuticals,...,67,137,102.0,Blueprint Medicines,9,na,na,3639,3,1
43,Scientist,$52K-$113K (Glassdoor est.),"We are a global team of 6000 visionaries, doer...",3.4,Edgewell Personal Care\n3.4,"Shelton, CT",6,2015,Company - Public,Consumer Products Manufacturing,...,52,113,82.5,Edgewell Personal Care,5,na,na,3550,3,1
48,Spectral Scientist/Engineer,$56K-$117K (Glassdoor est.),Thank you for your interest in joining the Cen...,4.7,Centauri\n4.7,"Chantilly, VA",4,1999,Company - Private,Aerospace & Defense,...,56,117,86.5,Centauri,21,na,na,2682,3,0
69,R&D Data Analysis Scientist,$65K-$130K (Glassdoor est.),Applies developed level of subject matter know...,4.0,HP Inc.\n4.0,"Palo Alto, CA",7,1939,Company - Public,Computer Hardware & Software,...,65,130,97.5,HP Inc.,81,na,na,2291,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
730,"Research Scientist, Immunology - Cancer Biology",Employer Provided Salary:$100K-$140K,"Research Scientist, Immunology - Cancer Biolog...",-1.0,Kronos Bio,"San Mateo, CA",0,-1,Company - Private,None,...,100,140,120.0,Kronos Bio,-1,na,na,3309,0,1
736,"Principal, Data Science - Advanced Analytics",$86K-$137K (Glassdoor est.),IQVIA is the leading human data science compan...,3.6,IQVIA\n3.6,"Durham, NC",7,2017,Company - Public,Biotech & Pharmaceuticals,...,86,137,111.5,IQVIA,3,na,senior,5025,3,0
737,"Sr Scientist, Immuno-Oncology - Oncology",$58K-$111K (Glassdoor est.),Site Name: USA - Massachusetts - Cambridge\nPo...,3.9,GSK\n3.9,"Brentford, United Kingdom",7,1830,Company - Public,Biotech & Pharmaceuticals,...,58,111,84.5,GSK,190,na,senior,6162,3,1
739,"Project Scientist - Auton Lab, Robotics Institute",$56K-$91K (Glassdoor est.),The Auton Lab at Carnegie Mellon University is...,2.6,Software Engineering Institute\n2.6,"Pittsburgh, PA",4,1984,College / University,Colleges & Universities,...,56,91,73.5,Software Engineering Institute,36,na,na,3078,0,1
741,Research Scientist â€“ Security and Privacy,$61K-$126K (Glassdoor est.),Returning Candidate? Log back in to the Career...,3.6,Riverside Research Institute\n3.6,"Arlington, VA",4,1967,Nonprofit Organization,Federal Agencies,...,61,126,93.5,Riverside Research Institute,53,na,na,3673,0,1

In [92]:
data[data['seniority']=='na']

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Headquarters,Size,Founded,Type of ownership,Industry,...,min_salary,max_salary,avg_salary,company_txt,age,job_simp,seniority,desc_len,num_comp,skills
0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research\n3.8,"Goleta, CA",4,1973,Company - Private,Aerospace & Defense,...,53,91,72.0,Tecolote Research,47,data scientist,na,2536,0,2
1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System\n3.4,"Baltimore, MD",7,1984,Other Organization,Health Care Services & Hospitals,...,63,112,87.5,University of Maryland Medical System,36,data scientist,na,4783,0,1
2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\n4.8,"Clearwater, FL",4,2010,Company - Private,Security Services,...,80,90,85.0,KnowBe4,10,data scientist,na,3461,0,3
3,Data Scientist,$56K-$97K (Glassdoor est.),*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL\n3.8,"Richland, WA",5,1965,Government,Energy,...,56,97,76.5,PNNL,55,data scientist,na,3883,3,1
4,Data Scientist,$86K-$143K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY",2,1998,Company - Private,Advertising & Marketing,...,86,143,114.5,Affinity Solutions,22,data scientist,na,2728,3,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
734,Data Science Project Manager,$37K-$100K (Glassdoor est.),"At MassMutual, we are passionate about helping...",3.6,MassMutual\n3.6,"Springfield, MA",6,1851,Company - Private,Insurance Carriers,...,37,100,68.5,MassMutual,169,manager,na,5016,0,1
735,Data Engineer,$62K-$113K (Glassdoor est.),Do you find data architecture exciting? Does b...,3.9,Fivestars\n3.9,"San Francisco, CA",3,2011,Company - Private,Internet,...,62,113,87.5,Fivestars,9,data engineer,na,3813,2,3
739,"Project Scientist - Auton Lab, Robotics Institute",$56K-$91K (Glassdoor est.),The Auton Lab at Carnegie Mellon University is...,2.6,Software Engineering Institute\n2.6,"Pittsburgh, PA",4,1984,College / University,Colleges & Universities,...,56,91,73.5,Software Engineering Institute,36,na,na,3078,0,1
740,Data Science Manager,$95K-$160K (Glassdoor est.),Data Science ManagerResponsibilities:\n\nOvers...,3.2,"Numeric, LLC\n3.2","Chadds Ford, PA",1,-1,Company - Private,Staffing & Outsourcing,...,95,160,127.5,"Numeric, LLC",-1,manager,na,1642,0,1
741,Research Scientist â€“ Security and Privacy,$61K-$126K (Glassdoor est.),Returning Candidate? Log back in to the Career...,3.6,Riverside Research Institute\n3.6,"Arlington, VA",4,1967,Nonprofit Organization,Federal Agencies,...,61,126,93.5,Riverside Research Institute,53,na,na,3673,0,1

In [101]:
(data['seniority'].value_counts())

na        519
senior    220
jr          2
Name: seniority, dtype: int64

In [103]:
data.drop(['desc_len','num_comp'],axis=1,inplace=True)

In [104]:
data.columns

Index(['Job Title', 'Salary Estimate', 'Job Description', 'Rating',
       'Company Name', 'Headquarters', 'Size', 'Founded', 'Type of ownership',
       'Industry', 'Sector', 'Revenue', 'Competitors', 'hourly',
       'employer_provided', 'min_salary', 'max_salary', 'avg_salary',
       'company_txt', 'age', 'job_simp', 'seniority', 'skills'],
      dtype='object')

In [113]:
data['Salary Estimate']=data['Salary Estimate'].replace(' (Glassdoor est.)','')

In [114]:
data['Salary Estimate']

0       $53K-$91K (Glassdoor est.)
1      $63K-$112K (Glassdoor est.)
2       $80K-$90K (Glassdoor est.)
3       $56K-$97K (Glassdoor est.)
4      $86K-$143K (Glassdoor est.)
                  ...
737    $58K-$111K (Glassdoor est.)
738    $72K-$133K (Glassdoor est.)
739     $56K-$91K (Glassdoor est.)
740    $95K-$160K (Glassdoor est.)
741    $61K-$126K (Glassdoor est.)
Name: Salary Estimate, Length: 741, dtype: object

In [115]:
'$53K-$91K (Glassdoor est.)'.replace(' (Glassdoor est.)','')

'$53K-$91K'

In [125]:
def rep():
    num=0
    for i in data['Salary_Estimate']:
        print(type(i))
        data['Salary Estimate'][num]=i.replace(' (Glassdoor est.)','')
        num+=1

In [120]:
data['Salary_Estimate']=data['Salary Estimate']

In [126]:
rep()

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

C:\Users\Shubh Pundir\AppData\Local\Temp\ipykernel_6140\1761264241.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Salary Estimate'][num]=i.replace(' (Glassdoor est.)','')
C:\Users\Shubh Pundir\AppData\Local\Temp\ipykernel_6140\1761264241.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Salary Estimate'][num]=i.replace(' (Glassdoor est.)','')

In [130]:
data.drop(['Salary_Estimate'],axis=1,inplace=True)

In [131]:
data.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Headquarters,Size,Founded,Type of ownership,Industry,...,hourly,employer_provided,min_salary,max_salary,avg_salary,company_txt,age,job_simp,seniority,skills
0,Data Scientist,$53K-$91K,"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research\n3.8,"Goleta, CA",4,1973,Company - Private,Aerospace & Defense,...,0,0,53,91,72.0,Tecolote Research,47,data scientist,na,2
1,Healthcare Data Scientist,$63K-$112K,What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System\n3.4,"Baltimore, MD",7,1984,Other Organization,Health Care Services & Hospitals,...,0,0,63,112,87.5,University of Maryland Medical System,36,data scientist,na,1
2,Data Scientist,$80K-$90K,"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\n4.8,"Clearwater, FL",4,2010,Company - Private,Security Services,...,0,0,80,90,85.0,KnowBe4,10,data scientist,na,3
3,Data Scientist,$56K-$97K,*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL\n3.8,"Richland, WA",5,1965,Government,Energy,...,0,0,56,97,76.5,PNNL,55,data scientist,na,1
4,Data Scientist,$86K-$143K,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY",2,1998,Company - Private,Advertising & Marketing,...,0,0,86,143,114.5,Affinity Solutions,22,data scientist,na,2

In [133]:
data['Company Name'].split('\n')

AttributeError: 'Series' object has no attribute 'split'

In [134]:
data['CompanyName']=data['Company Name']

In [147]:
a,b=data['Company Name'][0].split('\n')

ValueError: not enough values to unpack (expected 2, got 1)

In [146]:
len(data['Company Name'][0].split('\n'))

1

In [138]:
a,b

('Tecolote Research', '3.8')

In [151]:
data['Company Rating']=np.nan

In [152]:
data

,Job Title,Salary Estimate,Job Description,Rating,Headquarters,Size,Founded,Type of ownership,Industry,Sector,...,max_salary,avg_salary,company_txt,age,job_simp,seniority,skills,CompanyName,Company Rating,Company Name
0,Data Scientist,$53K-$91K,"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,"Goleta, CA",4,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,...,91,72.0,Tecolote Research,47,data scientist,na,2,Tecolote Research\n3.8,NaN,NaN
1,Healthcare Data Scientist,$63K-$112K,What You Will Do:\n\nI. General Summary\n\nThe...,3.4,"Baltimore, MD",7,1984,Other Organization,Health Care Services & Hospitals,Health Care,...,112,87.5,University of Maryland Medical System,36,data scientist,na,1,University of Maryland Medical System\n3.4,NaN,NaN
2,Data Scientist,$80K-$90K,"KnowBe4, Inc. is a high growth information sec...",4.8,"Clearwater, FL",4,2010,Company - Private,Security Services,Business Services,...,90,85.0,KnowBe4,10,data scientist,na,3,KnowBe4\n4.8,NaN,NaN
3,Data Scientist,$56K-$97K,*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,"Richland, WA",5,1965,Government,Energy,"Oil, Gas, Energy & Utilities",...,97,76.5,PNNL,55,data scientist,na,1,PNNL\n3.8,NaN,NaN
4,Data Scientist,$86K-$143K,Data Scientist\nAffinity Solutions / Marketing...,2.9,"New York, NY",2,1998,Company - Private,Advertising & Marketing,Business Services,...,143,114.5,Affinity Solutions,22,data scientist,na,2,Affinity Solutions\n2.9,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
737,"Sr Scientist, Immuno-Oncology - Oncology",$72K-$133K,Site Name: USA - Massachusetts - Cambridge\nPo...,3.9,"Brentford, United Kingdom",7,1830,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,...,111,84.5,GSK,190,na,senior,1,GSK\n3.9,NaN,NaN
738,Senior Data Engineer,$56K-$91K,THE CHALLENGE\nEventbrite has a world-class da...,4.4,"San Francisco, CA",5,2006,Company - Public,Internet,Information Technology,...,133,102.5,Eventbrite,14,data engineer,senior,3,Eventbrite\n4.4,NaN,NaN
739,"Project Scientist - Auton Lab, Robotics Institute",$95K-$160K,The Auton Lab at Carnegie Mellon University is...,2.6,"Pittsburgh, PA",4,1984,College / University,Colleges & Universities,Education,...,91,73.5,Software Engineering Institute,36,na,na,1,Software Engineering Institute\n2.6,NaN,NaN
740,Data Science Manager,$61K-$126K,Data Science ManagerResponsibilities:\n\nOvers...,3.2,"Chadds Ford, PA",1,-1,Company - Private,Staffing & Outsourcing,Business Services,...,160,127.5,"Numeric, LLC",-1,manager,na,1,"Numeric, LLC\n3.2",NaN,NaN
741,Research Scientist â€“ Security and Privacy,$61K-$126K (Glassdoor est.),Returning Candidate? Log back in to the Career...,3.6,"Arlington, VA",4,1967,Nonprofit Organization,Federal Agencies,Government,...,126,93.5,Riverside Research Institute,53,na,na,1,Riverside Research Institute\n3.6,NaN,NaN

In [148]:
data

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Headquarters,Size,Founded,Type of ownership,Industry,...,min_salary,max_salary,avg_salary,company_txt,age,job_simp,seniority,skills,CompanyName,Company Rating
0,Data Scientist,$53K-$91K,"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,3.8,"Goleta, CA",4,1973,Company - Private,Aerospace & Defense,...,53,91,72.0,Tecolote Research,47,data scientist,na,2,Tecolote Research\n3.8,NaN
1,Healthcare Data Scientist,$63K-$112K,What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System\n3.4,"Baltimore, MD",7,1984,Other Organization,Health Care Services & Hospitals,...,63,112,87.5,University of Maryland Medical System,36,data scientist,na,1,University of Maryland Medical System\n3.4,NaN
2,Data Scientist,$80K-$90K,"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\n4.8,"Clearwater, FL",4,2010,Company - Private,Security Services,...,80,90,85.0,KnowBe4,10,data scientist,na,3,KnowBe4\n4.8,NaN
3,Data Scientist,$56K-$97K,*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL\n3.8,"Richland, WA",5,1965,Government,Energy,...,56,97,76.5,PNNL,55,data scientist,na,1,PNNL\n3.8,NaN
4,Data Scientist,$86K-$143K,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY",2,1998,Company - Private,Advertising & Marketing,...,86,143,114.5,Affinity Solutions,22,data scientist,na,2,Affinity Solutions\n2.9,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
737,"Sr Scientist, Immuno-Oncology - Oncology",$72K-$133K,Site Name: USA - Massachusetts - Cambridge\nPo...,3.9,GSK\n3.9,"Brentford, United Kingdom",7,1830,Company - Public,Biotech & Pharmaceuticals,...,58,111,84.5,GSK,190,na,senior,1,GSK\n3.9,NaN
738,Senior Data Engineer,$56K-$91K,THE CHALLENGE\nEventbrite has a world-class da...,4.4,Eventbrite\n4.4,"San Francisco, CA",5,2006,Company - Public,Internet,...,72,133,102.5,Eventbrite,14,data engineer,senior,3,Eventbrite\n4.4,NaN
739,"Project Scientist - Auton Lab, Robotics Institute",$95K-$160K,The Auton Lab at Carnegie Mellon University is...,2.6,Software Engineering Institute\n2.6,"Pittsburgh, PA",4,1984,College / University,Colleges & Universities,...,56,91,73.5,Software Engineering Institute,36,na,na,1,Software Engineering Institute\n2.6,NaN
740,Data Science Manager,$61K-$126K,Data Science ManagerResponsibilities:\n\nOvers...,3.2,"Numeric, LLC\n3.2","Chadds Ford, PA",1,-1,Company - Private,Staffing & Outsourcing,...,95,160,127.5,"Numeric, LLC",-1,manager,na,1,"Numeric, LLC\n3.2",NaN
741,Research Scientist â€“ Security and Privacy,$61K-$126K (Glassdoor est.),Returning Candidate? Log back in to the Career...,3.6,Riverside Research Institute\n3.6,"Arlington, VA",4,1967,Nonprofit Organization,Federal Agencies,...,61,126,93.5,Riverside Research Institute,53,na,na,1,Riverside Research Institute\n3.6,NaN

In [149]:
data.drop(['Company Name'],axis=1,inplace=True)

In [150]:
data['Company Name']=np.nan

In [153]:
data['CompanyName'].unique()

array(['Tecolote Research\n3.8',
       'University of Maryland Medical System\n3.4', 'KnowBe4\n4.8',
       'PNNL\n3.8', 'Affinity Solutions\n2.9', 'CyrusOne\n3.4',
       'ClearOne Advantage\n4.1', 'Logic20/20\n3.8',
       'Rochester Regional Health\n3.3', '<intent>\n4.6', 'Wish\n3.5',
       'ManTech\n4.1', 'Walmart\n3.2', 'Yesler\n4.1',
       'Takeda Pharmaceuticals\n3.7', 'Audible\n3.6',
       'Blueprint Medicines\n3.9', 'h2o.ai\n4.3', 'Nuna\n4.2',
       'Pinnacol Assurance\n4.0', 'Porch\n3.2', 'Health IQ\n3.9',
       'Truckstop.com\n3.8', 'SMC 3\n4.3', 'Novetta\n4.0', 'Pfizer\n4.0',
       'First Tech Federal Credit Union\n3.5',
       'The Hanover Insurance Group\n3.7', 'Amrock\n3.6', 'Novartis\n3.8',
       'Juniper Networks\n3.8', 'New England Biolabs\n4.7',
       'Clarity Insights\n4.2', 'Esri\n3.5',
       'Systems & Technology Research\n4.7', 'Sartorius\n3.5',
       'Lancer Insurance\n3.5', 'Sauce Labs\n4.2', 'Persivia\n3.6',
       'Edgewell Personal Care\n3.4', 'Equity Residential\n4.3',
       'BPA Services\n5.0', 'Visa Inc.\n3.7', 'Intrado\n3.1',
       'Centauri\n4.7', 'Caterpillar\n3.7', 'Zimmerman Advertising\n3.8',
       'Liberty Mutual Insurance\n3.3', 'Torch Technologies, Inc.\n4.6',
       'Swiss Re\n3.7', 'Northrop Grumman\n3.7', 'Netskope\n4.1',
       '1904labs\n4.7', 'The David J. Joseph Company\n4.4',
       'USEReady\n4.3', 'Bill.com\n3.8',
       'Pacific Northwest National Laboratory\n3.8',
       "DICK'S Sporting Goods - Corporate\n3.8", 'Berg Health\n2.8',
       'Oversight Systems\n4.7', 'C Space\n3.1', 'Numeric, LLC\n3.2',
       'HP Inc.\n4.0', 'SpringML\n4.4', 'Grainger\n3.6',
       'EAG Laboratories\n2.7', 'The Buffalo Group\n3.9', 'Carmeuse\n3.1',
       'GNS Healthcare\n1.9', 'Peraton\n3.3', 'Pactera\n4.4', 'Nurx\n3.9',
       'webfx.com\n4.7',
       'Johns Hopkins University Applied Physics Laboratory\n4.5',
       'Productive Edge\n4.3', 'Excella Consulting\n4.0', 'Gensco\n4.4',
       'goTRG\n4.2', 'NMR Consulting\n4.5', 'iSeatz\n3.5',
       'Nektar Therapeutics\n3.5', 'TransUnion\n3.9', 'IT Concepts\n4.7',
       'Scientific Research Corporation\n4.2',
       'General Dynamics Information Technology\n3.4', 'MITRE\n3.2',
       'DentaQuest\n3.1', 'Redjack\n4.1', '7Park Data\n3.8',
       'Rapid Response Monitoring\n4.7', 'Trilogy Ed\n4.3', 'Gallup\n4.2',
       'CapTech\n3.9', 'American Axle & Manufacturing\n3.3',
       'CentralReach\n4.7', 'Integrate\n4.3', 'Boys Town Hospital\n2.9',
       'Demandbase\n4.5', 'Sapphire Digital\n3.4', 'Formation\n3.2',
       'Autodesk\n4.0', "Beck's Hybrids\n4.6", 'DrFirst\n2.8',
       'Object Partners\n4.7', 'L.A. Care Health Plan\n3.0',
       'Red Ventures\n3.2', 'Quick Base\n4.4',
       'The E.W. Scripps Company\n3.5', 'Upside Business Travel\n4.0',
       'Synagro\n2.3', 'Alliance Source Testing\n4.0',
       'Accuride International\n3.6', 'Full Potential Solutions\n3.8',
       'Maven Wave Partners\n4.4',
       'First Command Financial Services, Inc.\n3.2', 'Pharmavite\n2.9',
       'BioMarin Pharmaceutical\n3.8', 'Stratagem Group\n4.3',
       'PA Consulting\n3.4', 'Gridiron IT\n5.0',
       'Evolve Vacation Rental\n3.7',
       'The Church of Jesus Christ of Latter-day Saints\n4.2',
       'Maximus Real Estate Partners\n4.3',
       'Software Engineering Institute\n2.6', 'AVANADE\n3.9',
       'PatientPoint\n3.8', 'BlueCross BlueShield of Tennessee\n3.8',
       'KSM Consulting\n4.4', 'Cogo Labs\n3.9', 'Church & Dwight\n3.4',
       'MassMutual\n3.6', 'Genentech\n3.9',
       'Legal & General America\n3.8', 'Western Digital\n3.5',
       'Sunovion\n3.5', 'National Student Clearinghouse\n2.9',
       'Tower Health\n3.6', 'State of Wisconsin Investment Board\n2.7',
       'Rubius Therapeutics\n4.4', 'OneMagnify\n4.3', 'IZEA\n4.2',
       'Vionic Group\n3.6', 'Dodge Data & Analytics\n2.8',
       'Plymouth Rock Assurance\n3.3', 'CA-One Tech Cloud',
       'Beebe Healthcare\n3.6', 'Argo Group US\n3.4',
       'Associated Electric Cooperative\n4.1', 'PennyMac\n3.2',
       'Zest AI\n3.9', 'DECISIVE ANALYTICS Corporation\n4.7',
       'Karyopharm Therapeutics Inc.\n2.9', 'Tempus Labs\n3.0',
       'Recursion Pharmaceuticals\n4.7', 'P2 Energy Solutions\n3.7',
       'ClearEdge\n4.0', 'Tapjoy\n3.9', 'Credit Sesame\n4.1',
       'San Manuel Casino\n3.6', 'Texas Health Huguley Hospital\n4.0',
       'Teasdale Latin Foods\n2.4',
       'Central California Alliance for Health\n3.5',
       'Pilot Flying J Travel Centers LLC\n3.0', "Palermo's Pizza\n3.3",
       'Advanced BioScience Laboratories\n2.7',
       'Echo Global Logistics\n3.4', 'Lockheed Martin\n3.7',
       'Acuity Insurance\n4.8', 'Fareportal\n3.8',
       'Veterans Affairs, Veterans Health Administration\n3.4',
       'Credera\n4.3', 'Spectrum Communications and Consulting\n3.4',
       'NCSOFT\n3.1', 'Dayton Freight Lines, Inc.\n4.3',
       'Community Action Partnership of San Luis Obispo\n2.8',
       'TrueAccord\n3.4', 'DRB Systems\n4.0', 'Corcentric\n3.7',
       'U.Group\n3.5', 'Systems Evolution Inc.\n4.7', 'Eventbrite\n4.4',
       'Centro\n4.1', 'comScore\n2.5', 'SullivanCotter\n4.2', 'NPD\n3.9',
       'Bakery Agency\n4.3',
       'Blue Cross & Blue Shield of Rhode Island\n3.4', 'Boys Town\n3.8',
       'The HSC Health Care System\n3.3', 'Pro-Sphere Tek\n3.4',
       'Ameritas Life Insurance Corp\n3.0', 'Genworth\n3.7',
       'Trace Data\n3.9', 'Clearwater Analytics\n4.2',
       'Tekvalley, Corp.\n4.0', 'BWX Technologies\n3.5', 'Vermeer\n3.9',
       'L&T Infotech\n3.5', 'OceanFirst Financial\n4.3', "Sotheby's\n3.6",
       'Vanda Pharmaceuticals\n2.3', 'CK-12 Foundation\n4.1',
       'Opinion Dynamics\n4.2', 'Applied Information Sciences\n4.6',
       'WK Dickson\n4.4', 'Southwest Research Institute\n3.9', 'Muso',
       'The Integer Group\n2.2', 'Samba TV\n3.3', 'SV Microwave\n3.4',
       'Sumo Logic\n3.8', 'EAB\n3.5', 'Brighthouse Financial\n3.5',
       'Citadel Federal Credit Union\n3.9', 'CALIBRE Systems\n3.7',
       'Motorola Solutions\n3.7', 'Reynolds American\n3.1',
       'Infosys\n3.0', 'Alignment Healthcare\n3.5',
       'Cboe Global Markets\n3.7', 'Guidepoint\n3.2',
       'Cerus Corporation\n2.1', 'Vail Health\n3.7', 'AstraZeneca\n3.9',
       'MathWorks\n4.4', 'MetroStar Systems\n3.4',
       'Audentes Therapeutics\n2.9', 'National Interstate\n3.3',
       'Moser Consulting\n4.5', 'Mcphail Associates\n3.3',
       'Crown Bioscience\n2.4', 'HOVER\n4.8', 'Q2 Solutions\n2.9',
       'Arbella Insurance\n3.4', 'Kronos Bio',
       'Associated Banc-Corp\n3.8', 'Genesys\n4.3', 'Moda Operandi\n1.9',
       'QK\n4.7', 'Santander\n3.1', 'Tivity Health\n3.4', 'BRMi\n4.4',
       'Luminar Technologies\n3.9', 'Emtec, Inc.\n3.9',
       'Veterans United Home Loans\n4.7', 'Praetorian\n4.7',
       'Agios Pharmaceuticals\n3.8', 'Glassdoor\n4.0', 'Assurant\n3.4',
       'F&G\n3.7', 'GreatAmerica Financial Services\n4.6',
       'Acceleron Pharma\n4.4', 'AmeriHealth Caritas\n3.0',
       'Strategic Employment Partners\n4.7',
       'Catholic Health Initiatives\n3.2', 'FLEETCOR\n2.7',
       'Applied Research Laboratories\n3.7', 'Raytheon\n3.7',
       'RTI International\n4.3', 'TRANZACT\n3.6', 'United BioSource\n2.1',
       'Figure Eight\n3.9', 'Royce Geospatial\n5.0', 'Citi\n3.6',
       'Sage Intacct\n4.7', 'Scale AI\n3.5', 'Change Healthcare\n2.7',
       'MZ\n3.4', 'HG Insights\n4.7', '1-800-FLOWERS.COM, Inc.\n2.8',
       'CBS Interactive\n3.5', 'Samsung Research America\n3.7',
       'Lorven Technologies Inc\n4.0', 'CareDx\n2.5', 'Serigor Inc.\n3.9',
       'Leidos\n3.4', 'Beckman Coulter Diagnostics\n3.6',
       'IHS Markit\n3.5', 'ALIN', 'e-IT Professionals Corp.\n3.5',
       'TechProjects\n4.8', 'Biz2Credit Inc\n4.0', 'PeoplesBank\n4.2',
       'Capgemini\n3.8', 'GNY Insurance Companies\n3.7',
       'Conch Technologies, Inc\n4.6', 'Medidata Solutions\n4.3',
       'Quartet Health\n3.9', 'Success Academy Charter Schools\n3.1',
       'AXION Healthcare Solutions\n3.6', 'ExecOnline\n4.2', 'Mteq\n4.0',
       'Brillient\n3.7', 'Entefy\n4.4', 'Trace3\n3.4',
       'Saama Technologies Inc\n3.5', 'Two Sigma\n4.4',
       'Strategic Financial Solutions\n4.0',
       'Remedy BPCI Partners, LLC.\n3.4', 'The Climate Corporation\n3.2',
       'Crossix Solutions\n3.5', 'GSK\n3.9', 'Factual\n4.3',
       'TriNet\n3.3', 'Signpost\n3.9', 'Adobe\n4.0', 'Equian LLC\n3.2',
       'Information Builders\n3.2', 'Greenway Health\n3.0',
       'Confluent\n4.7', 'Life360\n3.9', 'IQVIA\n3.6',
       'Riverside Research Institute\n3.6',
       'Icon Health and Fitness\n3.1', 'Shipt\n3.8', 'IntraEdge\n3.4',
       'COUNTRY Financial\n3.8', 'Mentor Graphics\n4.1',
       'Maxar Technologies\n3.7', 'ICW Group\n2.8', 'Exelixis\n3.0',
       'Grand Rounds\n4.2', 'SPINS, LLC\n3.5', 'DTCC\n3.3',
       'Carilion Clinic\n3.7', 'DoubleVerify\n3.2',
       'Mitsubishi Electric Research Labs\n4.6',
       'Rodan and Fields, LLC\n2.2', 'DESC\n3.4',
       'Johns Hopkins Health Care\n3.3',
       'Community Behavioral Health\n3.7', 'FORMA THERAPEUTICS\n3.8',
       'Bridg\n2.7', 'Charter Spectrum\n3.5', 'CompQsoft\n3.4',
       'Solugenix Corporation\n4.3', 'West Coast University\n2.6',
       'SoftBank Robotics\n3.8', 'SkySync\n5.0', 'DatamanUSA, LLC\n3.4',
       '23andMe\n4.0', 'Fivestars\n3.9'], dtype=object)

In [157]:
def func():
    num=0
    for i in data['CompanyName']:
        data['Company Name'][num],data['Company Rating'][num]=data['CompanyName'][0].split('\n')
        num+=1

In [160]:
data

,Job Title,Salary Estimate,Job Description,Rating,Headquarters,Size,Founded,Type of ownership,Industry,Sector,...,max_salary,avg_salary,company_txt,age,job_simp,seniority,skills,CompanyName,Company Rating,Company Name
0,Data Scientist,$53K-$91K,"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,"Goleta, CA",4,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,...,91,72.0,Tecolote Research,47,data scientist,na,2,Tecolote Research\n3.8,3.8,Tecolote Research
1,Healthcare Data Scientist,$63K-$112K,What You Will Do:\n\nI. General Summary\n\nThe...,3.4,"Baltimore, MD",7,1984,Other Organization,Health Care Services & Hospitals,Health Care,...,112,87.5,University of Maryland Medical System,36,data scientist,na,1,University of Maryland Medical System\n3.4,3.8,Tecolote Research
2,Data Scientist,$80K-$90K,"KnowBe4, Inc. is a high growth information sec...",4.8,"Clearwater, FL",4,2010,Company - Private,Security Services,Business Services,...,90,85.0,KnowBe4,10,data scientist,na,3,KnowBe4\n4.8,3.8,Tecolote Research
3,Data Scientist,$56K-$97K,*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,"Richland, WA",5,1965,Government,Energy,"Oil, Gas, Energy & Utilities",...,97,76.5,PNNL,55,data scientist,na,1,PNNL\n3.8,3.8,Tecolote Research
4,Data Scientist,$86K-$143K,Data Scientist\nAffinity Solutions / Marketing...,2.9,"New York, NY",2,1998,Company - Private,Advertising & Marketing,Business Services,...,143,114.5,Affinity Solutions,22,data scientist,na,2,Affinity Solutions\n2.9,3.8,Tecolote Research
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
737,"Sr Scientist, Immuno-Oncology - Oncology",$72K-$133K,Site Name: USA - Massachusetts - Cambridge\nPo...,3.9,"Brentford, United Kingdom",7,1830,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,...,111,84.5,GSK,190,na,senior,1,GSK\n3.9,3.8,Tecolote Research
738,Senior Data Engineer,$56K-$91K,THE CHALLENGE\nEventbrite has a world-class da...,4.4,"San Francisco, CA",5,2006,Company - Public,Internet,Information Technology,...,133,102.5,Eventbrite,14,data engineer,senior,3,Eventbrite\n4.4,3.8,Tecolote Research
739,"Project Scientist - Auton Lab, Robotics Institute",$95K-$160K,The Auton Lab at Carnegie Mellon University is...,2.6,"Pittsburgh, PA",4,1984,College / University,Colleges & Universities,Education,...,91,73.5,Software Engineering Institute,36,na,na,1,Software Engineering Institute\n2.6,3.8,Tecolote Research
740,Data Science Manager,$61K-$126K,Data Science ManagerResponsibilities:\n\nOvers...,3.2,"Chadds Ford, PA",1,-1,Company - Private,Staffing & Outsourcing,Business Services,...,160,127.5,"Numeric, LLC",-1,manager,na,1,"Numeric, LLC\n3.2",3.8,Tecolote Research
741,Research Scientist â€“ Security and Privacy,$61K-$126K (Glassdoor est.),Returning Candidate? Log back in to the Career...,3.6,"Arlington, VA",4,1967,Nonprofit Organization,Federal Agencies,Government,...,126,93.5,Riverside Research Institute,53,na,na,1,Riverside Research Institute\n3.6,NaN,NaN

In [159]:
func()

C:\Users\Shubh Pundir\AppData\Local\Temp\ipykernel_6140\1515135059.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Company Name'][num],data['Company Rating'][num]=data['CompanyName'][0].split('\n')
C:\Users\Shubh Pundir\AppData\Local\Temp\ipykernel_6140\1515135059.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Company Name'][num],data['Company Rating'][num]=data['CompanyName'][0].split('\n')

In [161]:
data.to_csv('Cleaned-1.csv')