In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot
%matplotlib inline

In [2]:
data = pd.read_csv('Cleaned-1.csv')

In [8]:
data.drop(['Unnamed: 0'],axis=1,inplace=True)

In [10]:
data.drop(['CompanyName'],axis=1,inplace=True)

In [58]:
data.drop(['Salary_Estimate'],axis=1,inplace=True)

In [11]:
data

,Job Title,Salary Estimate,Job Description,Rating,Headquarters,Size,Founded,Type of ownership,Industry,Sector,...,min_salary,max_salary,avg_salary,company_txt,age,job_simp,seniority,skills,Company Rating,Company Name
0,Data Scientist,$53K-$91K,"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,"Goleta, CA",4,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,...,53,91,72.0,Tecolote Research,47,data scientist,na,2,3.8,Tecolote Research
1,Healthcare Data Scientist,$63K-$112K,What You Will Do:\n\nI. General Summary\n\nThe...,3.4,"Baltimore, MD",7,1984,Other Organization,Health Care Services & Hospitals,Health Care,...,63,112,87.5,University of Maryland Medical System,36,data scientist,na,1,3.8,Tecolote Research
2,Data Scientist,$80K-$90K,"KnowBe4, Inc. is a high growth information sec...",4.8,"Clearwater, FL",4,2010,Company - Private,Security Services,Business Services,...,80,90,85.0,KnowBe4,10,data scientist,na,3,3.8,Tecolote Research
3,Data Scientist,$56K-$97K,*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,"Richland, WA",5,1965,Government,Energy,"Oil, Gas, Energy & Utilities",...,56,97,76.5,PNNL,55,data scientist,na,1,3.8,Tecolote Research
4,Data Scientist,$86K-$143K,Data Scientist\nAffinity Solutions / Marketing...,2.9,"New York, NY",2,1998,Company - Private,Advertising & Marketing,Business Services,...,86,143,114.5,Affinity Solutions,22,data scientist,na,2,3.8,Tecolote Research
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
736,"Sr Scientist, Immuno-Oncology - Oncology",$72K-$133K,Site Name: USA - Massachusetts - Cambridge\nPo...,3.9,"Brentford, United Kingdom",7,1830,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,...,58,111,84.5,GSK,190,na,senior,1,3.8,Tecolote Research
737,Senior Data Engineer,$56K-$91K,THE CHALLENGE\nEventbrite has a world-class da...,4.4,"San Francisco, CA",5,2006,Company - Public,Internet,Information Technology,...,72,133,102.5,Eventbrite,14,data engineer,senior,3,3.8,Tecolote Research
738,"Project Scientist - Auton Lab, Robotics Institute",$95K-$160K,The Auton Lab at Carnegie Mellon University is...,2.6,"Pittsburgh, PA",4,1984,College / University,Colleges & Universities,Education,...,56,91,73.5,Software Engineering Institute,36,na,na,1,3.8,Tecolote Research
739,Data Science Manager,$61K-$126K,Data Science ManagerResponsibilities:\n\nOvers...,3.2,"Chadds Ford, PA",1,-1,Company - Private,Staffing & Outsourcing,Business Services,...,95,160,127.5,"Numeric, LLC",-1,manager,na,1,3.8,Tecolote Research
740,Research Scientist – Security and Privacy,$61K-$126K (Glassdoor est.),Returning Candidate? Log back in to the Career...,3.6,"Arlington, VA",4,1967,Nonprofit Organization,Federal Agencies,Government,...,61,126,93.5,Riverside Research Institute,53,na,na,1,NaN,NaN

In [12]:
def func():
    num=0
    for i in data['Job Description']:
        data['JD'][num]=data['Job Description'][num].split('\n')
        num+=1

In [15]:
data['JD']=data['Job Description']

In [16]:
func()

C:\Users\Shubh Pundir\AppData\Local\Temp\ipykernel_26536\3774654965.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['JD'][num]=data['Job Description'][num].split('\n')

In [62]:
data['JD']

0      [Data Scientist, Location: Albuquerque, NM, Ed...
1      [What You Will Do:, , I. General Summary, , Th...
2      [KnowBe4, Inc. is a high growth information se...
3      [*Organization and Job ID**, Job ID: 310709, ,...
4      [Data Scientist, Affinity Solutions / Marketin...
                             ...
736    [Site Name: USA - Massachusetts - Cambridge, P...
737    [THE CHALLENGE, Eventbrite has a world-class d...
738    [The Auton Lab at Carnegie Mellon University i...
739    [Data Science ManagerResponsibilities:, , Over...
740    [Returning Candidate? Log back in to the Caree...
Name: JD, Length: 741, dtype: object

In [21]:
data['Salary_Estimate']=data['Salary Estimate']

In [48]:
data

,Job Title,Salary Estimate,Job Description,Rating,Headquarters,Size,Founded,Type of ownership,Industry,Sector,...,avg_salary,company_txt,age,job_simp,seniority,skills,Company Rating,Company Name,JD,Salary_Estimate
0,Data Scientist,$53K-$91K,"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,"Goleta, CA",4,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,...,72.0,Tecolote Research,47,data scientist,na,2,3.8,Tecolote Research,"[Data Scientist, Location: Albuquerque, NM, Ed...",$53K-$91K
1,Healthcare Data Scientist,$63K-$112K,What You Will Do:\n\nI. General Summary\n\nThe...,3.4,"Baltimore, MD",7,1984,Other Organization,Health Care Services & Hospitals,Health Care,...,87.5,University of Maryland Medical System,36,data scientist,na,1,3.8,Tecolote Research,"[What You Will Do:, , I. General Summary, , Th...",$63K-$112K
2,Data Scientist,$80K-$90K,"KnowBe4, Inc. is a high growth information sec...",4.8,"Clearwater, FL",4,2010,Company - Private,Security Services,Business Services,...,85.0,KnowBe4,10,data scientist,na,3,3.8,Tecolote Research,"[KnowBe4, Inc. is a high growth information se...",$80K-$90K
3,Data Scientist,$56K-$97K,*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,"Richland, WA",5,1965,Government,Energy,"Oil, Gas, Energy & Utilities",...,76.5,PNNL,55,data scientist,na,1,3.8,Tecolote Research,"[*Organization and Job ID**, Job ID: 310709, ,...",$56K-$97K
4,Data Scientist,$86K-$143K,Data Scientist\nAffinity Solutions / Marketing...,2.9,"New York, NY",2,1998,Company - Private,Advertising & Marketing,Business Services,...,114.5,Affinity Solutions,22,data scientist,na,2,3.8,Tecolote Research,"[Data Scientist, Affinity Solutions / Marketin...",$86K-$143K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
736,"Sr Scientist, Immuno-Oncology - Oncology",$72K-$133K,Site Name: USA - Massachusetts - Cambridge\nPo...,3.9,"Brentford, United Kingdom",7,1830,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,...,84.5,GSK,190,na,senior,1,3.8,Tecolote Research,"[Site Name: USA - Massachusetts - Cambridge, P...",$72K-$133K
737,Senior Data Engineer,$56K-$91K,THE CHALLENGE\nEventbrite has a world-class da...,4.4,"San Francisco, CA",5,2006,Company - Public,Internet,Information Technology,...,102.5,Eventbrite,14,data engineer,senior,3,3.8,Tecolote Research,"[THE CHALLENGE, Eventbrite has a world-class d...",$56K-$91K
738,"Project Scientist - Auton Lab, Robotics Institute",$95K-$160K,The Auton Lab at Carnegie Mellon University is...,2.6,"Pittsburgh, PA",4,1984,College / University,Colleges & Universities,Education,...,73.5,Software Engineering Institute,36,na,na,1,3.8,Tecolote Research,[The Auton Lab at Carnegie Mellon University i...,$95K-$160K
739,Data Science Manager,$61K-$126K,Data Science ManagerResponsibilities:\n\nOvers...,3.2,"Chadds Ford, PA",1,-1,Company - Private,Staffing & Outsourcing,Business Services,...,127.5,"Numeric, LLC",-1,manager,na,1,3.8,Tecolote Research,"[Data Science ManagerResponsibilities:, , Over...",$61K-$126K
740,Research Scientist – Security and Privacy,$61K-$126K (Glassdoor est.),Returning Candidate? Log back in to the Career...,3.6,"Arlington, VA",4,1967,Nonprofit Organization,Federal Agencies,Government,...,93.5,Riverside Research Institute,53,na,na,1,NaN,NaN,[Returning Candidate? Log back in to the Caree...,$61K-$126K (Glassdoor est.)

In [47]:
data['Salary Estimate'].unique()

array(['$53K-$91K', '$63K-$112K', '$80K-$90K', '$56K-$97K', '$86K-$143K',
       '$71K-$119K', '$54K-$93K', '$86K-$142K', '$38K-$84K',
       '$120K-$160K', '$126K-$201K', '$64K-$106K', '$106K-$172K',
       '$46K-$85K', '$83K-$144K', '$102K-$190K', '$67K-$137K',
       '$118K-$189K', '$110K-$175K', '$64K-$111K', '$81K-$130K',
       '$73K-$119K', '$86K-$139K', '$63K-$105K', '$109K-$177K',
       '$63K-$110K', '$75K-$124K', '$34K-$61K', '$72K-$120K',
       '$93K-$149K', '$85K-$140K', '$77K-$135K', '$82K-$132K',
       '$83K-$137K', '$115K-$180K', '$74K-$138K', '$64K-$112K',
       '$68K-$129K', '$52K-$113K', '$110K-$150K',
       'Employer Provided Salary:$150K-$160K', '$158K-$211K', '$20K-$39K',
       '$56K-$117K', '$63K-$99K', '$68K-$114K', '$41K-$95K', '$86K-$144K',
       '$80K-$139K', '$56K-$95K', '$120K-$189K', '$111K-$176K',
       '$84K-$146K', '$107K-$172K', '$49K-$85K', '$61K-$109K',
       '$88K-$148K', '$60K-$99K', '$41K-$72K', '$96K-$161K', '$65K-$130K',
       '$52K-$81K', '$139K-$220K', '$50K-$102K', '$85K-$139K',
       '$74K-$122K', '$99K-$157K', '$79K-$222K', '$57K-$118K',
       '$86K-$141K', '$94K-$154K', '$37K-$76K', '$100K-$160K',
       '$55K-$100K', '$60K-$114K', '$39K-$68K', '$64K-$107K', '$31K-$65K',
       '$34K-$62K', '$117K-$231K', '$79K-$134K', '$52K-$93K',
       '$55K-$116K', '$72K-$123K', '$74K-$124K', '$40K-$73K',
       '$102K-$164K', '$89K-$153K', '$61K-$110K', '$65K-$110K',
       '$200K-$275K', '$68K-$123K', '$80K-$129K', '$39K-$71K',
       '$38K-$85K', '$121K-$193K', '$54K-$102K', '$102K-$163K',
       '$76K-$140K', '$60K-$101K', '$82K-$133K', '$65K-$125K',
       '$91K-$148K', '$95K-$173K', '$77K-$124K', '$80K-$135K',
       '$85K-$159K', '$80K-$105K', '$43K-$81K', '$29K-$50K', '$26K-$55K',
       '$61K-$118K', '$60K-$102K', '$112K-$182K', '$51K-$112K',
       '$113K-$223K', '$72K-$129K', '$71K-$123K',
       'Employer Provided Salary:$120K-$145K', '$80K-$120K', '$80K-$130K',
       '$59K-$115K', '$71K-$136K', '$81K-$167K', '$71K-$204K',
       '$75K-$125K', '$77K-$136K', '$74K-$123K', '$44K-$78K',
       '$65K-$148K', '$59K-$110K', '$85K-$134K', '$124K-$204K',
       '$131K-$207K', '$110K-$174K', '$52K-$101K', '$81K-$133K',
       '$132K-$211K', '$74K-$140K', '$100K-$190K', '$43K-$80K',
       '$17-$24 Per Hour(Glassdoor est.)', '$91K-$149K', '$42K-$82K',
       '$116K-$185K', '$59K-$116K', '$48K-$95K', '$31K-$72K',
       '$105K-$198K', '$98K-$182K', '$73K-$124K',
       'Employer Provided Salary:$200K-$250K',
       '$21-$34 Per Hour(Glassdoor est.)', '$117K-$206K', '$111K-$183K',
       '$81K-$159K', '$83K-$166K', '$114K-$182K', '$42K-$76K',
       '$114K-$179K', '$60K-$123K', '$100K-$166K', '$108K-$173K',
       '$48K-$93K', '$54K-$115K', '$60K-$127K', '$90K-$179K',
       '$138K-$224K', '$190K-$220K', '$35K-$62K',
       '$18-$25 Per Hour(Glassdoor est.)', '$39K-$66K', '$42K-$86K',
       '$69K-$127K', '$40K-$68K', '$49K-$113K', '$75K-$140K',
       '$66K-$112K', '$76K-$125K', '$44K-$86K',
       '$15-$25 Per Hour(Glassdoor est.)', '$53K-$92K', '$65K-$120K',
       '$60K-$103K', '$53K-$105K', '$33K-$62K', '$48K-$90K', '$34K-$64K',
       '$66K-$111K', '$91K-$138K', '$62K-$114K', '$71K-$129K',
       '$74K-$119K', '$55K-$97K', '$15K-$16K', '$61K-$106K',
       '$127K-$199K', '$74K-$126K', '$33K-$72K', '$37K-$63K',
       '$67K-$119K', '$72K-$117K', '$78K-$126K', '$116K-$194K',
       '$83K-$133K', '$45K-$82K', '$83K-$135K', '$70K-$122K',
       '$70K-$132K', '$54K-$101K', '$68K-$112K', '$42K-$74K',
       '$95K-$161K', '$76K-$126K', '$108K-$176K', '$130K-$208K',
       '$37K-$68K', '$52K-$99K', '$105K-$173K', '$71K-$134K', '$39K-$82K',
       '$88K-$162K', '$55K-$99K', '$67K-$117K', '$92K-$150K',
       '$116K-$209K', '$38K-$82K', 'Employer Provided Salary:$85K-$90K',
       '$62K-$119K', '$84K-$136K', '$52K-$89K', '$65K-$119K',
       '$63K-$101K', '$127K-$202K', '$31K-$57K', '$75K-$143K',
       '$105K-$194K', '$45K-$86K', '$95K-$154K', '$80K-$148K',
       '$36K-$62K', '$50K-$92K', '$67K-$135K', '$42K-$80K', '$68K-$139K',
       '$34K-$92K', '$54K-$71K', '$65K-$124K', '$109K-$200K',
       '$61K-$113K', '$43K-$86K', '$74K-$149K', '$113K-$196K',
       '$97K-$160K', '$24-$39 Per Hour(Glassdoor est.)', '$102K-$172K',
       '$108K-$171K', '$76K-$142K', '$202K-$306K', '$49K-$97K',
       '$65K-$134K', '$32K-$59K', '$87K-$158K', '$107K-$173K',
       '$56K-$99K', 'Employer Provided Salary:$25-$28 Per Hour',
       '$80K-$155K', '$43K-$98K', '$45K-$78K', '$44K-$96K', '$50K-$110K',
       '$61K-$119K', 'Employer Provided Salary:$100K-$140K', '$56K-$91K',
       '$101K-$158K', '$125K-$210K', '$43K-$77K', '$139K-$221K',
       '$78K-$147K', '$37K-$66K', '$38K-$64K', '$43K-$82K', '$90K-$110K',
       '$93K-$151K', '$40K-$101K', '$97K-$180K', '$81K-$134K',
       '$84K-$157K', '$121K-$203K', '$52K-$85K', '$81K-$140K',
       '$83K-$148K', '$31K-$55K', '$102K-$178K',
       'Employer Provided Salary:$110K-$130K', '$48K-$85K', '$66K-$123K',
       '$92K-$146K', '$21-$29 Per Hour(Glassdoor est.)',
       '$10-$17 Per Hour(Glassdoor est.)', '$150K-$239K', '$52K-$91K',
       '$82K-$129K', '$47K-$101K', '$49K-$76K', '$43K-$88K',
       '$124K-$199K', '$97K-$181K', '$100K-$173K', '$53K-$96K',
       '$65K-$96K', '$75K-$127K', '$94K-$139K', '$176K-$289K',
       '$92K-$149K', '$118K-$188K', '$108K-$146K', '$65K-$106K',
       '$55K-$98K', '$94K-$162K', '$63K-$120K', '$126K-$228K',
       '$80K-$134K', '$85K-$142K', '$87K-$140K', '$76K-$127K',
       '$54K-$92K', '$61K-$100K', '$112K-$179K', '$63K-$111K',
       '$75K-$126K', '$110K-$184K', '$76K-$145K', '$70K-$118K',
       '$94K-$153K', '$150K-$180K', '$42K-$77K', '$47K-$85K',
       '$62K-$112K', '$64K-$108K', '$89K-$144K', '$55K-$105K',
       '$135K-$211K', '$57K-$80K', '$129K-$215K', '$63K-$127K',
       '$50K-$89K', '$71K-$124K', '$69K-$121K', '$150K-$238K',
       '$77K-$132K', '$59K-$112K', '$35K-$65K', '$79K-$147K',
       '$119K-$187K', '$90K-$157K', '$32K-$62K', '$116K-$208K',
       '$102K-$165K', '$91K-$159K', '$80K-$133K', '$39K-$69K',
       '$27K-$48K', '$36K-$71K', '$130K-$206K', '$99K-$178K',
       '$86K-$137K', '$37K-$100K', '$58K-$111K', '$72K-$133K',
       '$61K-$126K', '$95K-$160K', '$33K-$61K', '$69K-$119K',
       '$67K-$127K', '$66K-$117K', '$50K-$98K', '$90K-$153K', '$42K-$79K',
       '$84K-$153K', '$44K-$73K', '$40K-$87K', '$72K-$142K', '$74K-$137K',
       '$57K-$109K', '$136K-$208K', '$171K-$272K', '$65K-$126K',
       '$118K-$228K', '$113K-$182K', '$58K-$104K', '$58K-$108K',
       '$81K-$161K', '$115K-$220K', '$71K-$144K', '$32K-$57K',
       '$79K-$136K', '$48K-$113K', '$27-$47 Per Hour(Glassdoor est.)',
       '$68K-$125K', '$39K-$67K', '$71K-$135K', '$61K-$123K',
       '$87K-$141K', '$71K-$121K', '$72K-$121K', '$51K-$88K',
       '$101K-$141K', '$79K-$127K', '$81K-$132K',
       'Employer Provided Salary:$120K-$140K', '$65K-$113K', '$59K-$125K',
       '$80K-$142K', '$62K-$113K', '$61K-$126K (Glassdoor est.)'],
      dtype=object)

In [54]:
num=0
for i in data['Salary Estimate']:
    data['Salary Estimate'][num]=i.replace('Employer Provided Salary:','')
    num+=1

C:\Users\Shubh Pundir\AppData\Local\Temp\ipykernel_26536\1688625084.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Salary Estimate'][num]=i.replace('Employer Provided Salary:','')

In [51]:
'Employer Provided Salary:$150K-$160K'.replace('Employer Provided Salary:','')

'$150K-$160K'

In [57]:
for i in data['Salary Estimate']:
    print(i)

$53K-$91K
$63K-$112K
$80K-$90K
$56K-$97K
$86K-$143K
$71K-$119K
$54K-$93K
$86K-$142K
$38K-$84K
$120K-$160K
$126K-$201K
$64K-$106K
$106K-$172K
$46K-$85K
$83K-$144K
$102K-$190K
$67K-$137K
$118K-$189K
$110K-$175K
$64K-$111K
$81K-$130K
$73K-$119K
$86K-$139K
$63K-$105K
$109K-$177K
$63K-$110K
$75K-$124K
$34K-$61K
$63K-$105K
$80K-$90K
$56K-$97K
$72K-$120K
$86K-$143K
$93K-$149K
$85K-$140K
$77K-$135K
$82K-$132K
$83K-$137K
$115K-$180K
$74K-$138K
$64K-$112K
$68K-$129K
$110K-$175K
$52K-$113K
$110K-$150K
$150K-$160K
$158K-$211K
$20K-$39K
$56K-$117K
$63K-$99K
$68K-$114K
$86K-$143K
$41K-$95K
$86K-$144K
$80K-$139K
$56K-$95K
$120K-$189K
$111K-$176K
$54K-$93K
$71K-$119K
$82K-$132K
$84K-$146K
$107K-$172K
$49K-$85K
$61K-$109K
$88K-$148K
$60K-$99K
$41K-$72K
$96K-$161K
$65K-$130K
$52K-$81K
$139K-$220K
$50K-$102K
$85K-$139K
$74K-$122K
$99K-$157K
$79K-$222K
$57K-$118K
$83K-$137K
$86K-$141K
$94K-$154K
$37K-$76K
$100K-$160K
$55K-$100K
$60K-$114K
$39K-$68K
$106K-$172K
$86K-$142K
$64K-$107K
$31K-$65K
$34K-$62K
$117K-$231K
$64K-$106K
$79K-$134K
$52K-$93K
$55K-$116K
$72K-$123K
$74K-$124K
$40K-$73K
$102K-$164K
$89K-$153K
$61K-$110K
$65K-$110K
$200K-$275K
$68K-$123K
$80K-$129K
$41K-$72K
$39K-$71K
$38K-$85K
$121K-$193K
$54K-$102K
$83K-$144K
$120K-$160K
$102K-$163K
$76K-$140K
$60K-$101K
$82K-$133K
$65K-$125K
$91K-$148K
$95K-$173K
$77K-$124K
$80K-$135K
$85K-$159K
$80K-$105K
$43K-$81K
$29K-$50K
$82K-$133K
$26K-$55K
$61K-$118K
$60K-$102K
$112K-$182K
$64K-$106K
$51K-$112K
$113K-$223K
$72K-$129K
$71K-$123K
$64K-$106K
$118K-$189K
$120K-$145K
$80K-$120K
$80K-$130K
$59K-$115K
$71K-$136K
$81K-$167K
$49K-$85K
$60K-$114K
$71K-$204K
$75K-$125K
$77K-$136K
$74K-$123K
$44K-$78K
$65K-$148K
$59K-$110K
$85K-$134K
$124K-$204K
$131K-$207K
$110K-$174K
$52K-$101K
$81K-$133K
$132K-$211K
$73K-$119K
$110K-$175K
$74K-$140K
$100K-$190K
$43K-$80K
$17-$24 Per Hour
$91K-$149K
$42K-$82K
$116K-$185K
$59K-$116K
$48K-$95K
$31K-$72K
$105K-$198K
$55K-$100K
$98K-$182K
$73K-$124K
$200K-$250K
$21-$34 Per Hour
$117K-$206K
$111K-$183K
$44K-$78K
$81K-$159K
$83K-$166K
$114K-$182K
$42K-$76K
$114K-$179K
$60K-$123K
$100K-$166K
$108K-$173K
$48K-$93K
$54K-$115K
$60K-$127K
$90K-$179K
$138K-$224K
$54K-$115K
$190K-$220K
$35K-$62K
$18-$25 Per Hour
$39K-$66K
$81K-$167K
$42K-$86K
$69K-$127K
$21-$34 Per Hour
$40K-$68K
$49K-$113K
$75K-$140K
$86K-$139K
$66K-$112K
$76K-$125K
$44K-$86K
$15-$25 Per Hour
$53K-$92K
$44K-$78K
$85K-$134K
$59K-$110K
$64K-$111K
$65K-$120K
$60K-$103K
$53K-$105K
$124K-$204K
$131K-$207K
$110K-$174K
$33K-$62K
$52K-$101K
$48K-$90K
$34K-$64K
$132K-$211K
$81K-$133K
$42K-$76K
$66K-$111K
$74K-$140K
$63K-$110K
$63K-$105K
$91K-$138K
$100K-$190K
$62K-$114K
$71K-$129K
$43K-$80K
$74K-$119K
$55K-$97K
$15K-$16K
$61K-$106K
$91K-$149K
$127K-$199K
$74K-$126K
$33K-$72K
$17-$24 Per Hour
$37K-$63K
$67K-$119K
$72K-$117K
$116K-$185K
$78K-$126K
$42K-$82K
$59K-$116K
$63K-$105K
$109K-$177K
$116K-$194K
$48K-$95K
$83K-$133K
$105K-$198K
$31K-$72K
$98K-$182K
$55K-$100K
$45K-$82K
$83K-$135K
$70K-$122K
$200K-$250K
$70K-$132K
$73K-$124K
$54K-$101K
$117K-$206K
$21-$34 Per Hour
$111K-$183K
$68K-$112K
$42K-$74K
$44K-$78K
$81K-$159K
$95K-$161K
$75K-$124K
$72K-$120K
$76K-$126K
$114K-$182K
$108K-$176K
$130K-$208K
$83K-$166K
$42K-$76K
$37K-$68K
$52K-$99K
$105K-$173K
$71K-$134K
$39K-$82K
$114K-$179K
$88K-$162K
$60K-$102K
$100K-$166K
$55K-$99K
$67K-$117K
$92K-$150K
$116K-$209K
$38K-$82K
$85K-$90K
$62K-$119K
$86K-$143K
$93K-$149K
$84K-$136K
$60K-$123K
$52K-$89K
$48K-$93K
$56K-$97K
$65K-$119K
$108K-$173K
$63K-$101K
$54K-$115K
$90K-$179K
$127K-$202K
$31K-$57K
$60K-$127K
$75K-$143K
$105K-$194K
$45K-$86K
$95K-$154K
$80K-$148K
$36K-$62K
$54K-$115K
$50K-$92K
$67K-$135K
$82K-$132K
$85K-$140K
$138K-$224K
$42K-$80K
$190K-$220K
$68K-$139K
$34K-$92K
$54K-$71K
$65K-$124K
$35K-$62K
$109K-$200K
$18-$25 Per Hour
$61K-$113K
$39K-$66K
$43K-$86K
$74K-$149K
$113K-$196K
$81K-$167K
$97K-$160K
$24-$39 Per Hour
$42K-$86K
$69K-$127K
$110K-$175K
$102K-$172K
$74K-$124K
$40K-$68K
$108K-$171K
$76K-$142K
$202K-$306K
$49K-$97K
$49K-$113K
$21-$34 Per Hour
$65K-$134K
$32K-$59K
$87K-$158K
$107K-$173K
$56K-$99K
$25-$28 Per Hour
$80K-$155K
$43K-$98K
$45K-$78K
$44K-$96K
$50K-$110K
$61K-$119K
$100K-$140K
$56K-$91K
$68K-$114K
$150K-$160K
$101K-$158K
$125K-$210K
$43K-$77K
$139K-$221K
$44K-$86K
$78K-$147K
$65K-$110K
$37K-$66K
$38K-$64K
$43K-$82K
$90K-$110K
$61K-$109K
$93K-$151K
$52K-$81K
$40K-$101K
$97K-$180K
$81K-$134K
$84K-$157K
$49K-$113K
$68K-$139K
$75K-$140K
$121K-$203K
$52K-$85K
$81K-$140K
$63K-$99K
$110K-$150K
$83K-$148K
$60K-$101K
$31K-$55K
$102K-$178K
$110K-$130K
$48K-$85K
$66K-$123K
$92K-$146K
$21-$29 Per Hour
$10-$17 Per Hour
$150K-$239K
$52K-$91K
$82K-$129K
$47K-$101K
$49K-$76K
$43K-$88K
$124K-$199K
$52K-$93K
$97K-$181K
$100K-$173K
$53K-$96K
$65K-$96K
$56K-$95K
$111K-$176K
$75K-$127K
$65K-$119K
$56K-$97K
$108K-$173K
$94K-$139K
$176K-$289K
$92K-$149K
$63K-$101K
$54K-$115K
$118K-$188K
$108K-$146K
$65K-$106K
$55K-$98K
$94K-$162K
$63K-$120K
$90K-$179K
$127K-$202K
$60K-$127K
$31K-$57K
$105K-$194K
$45K-$86K
$75K-$143K
$126K-$228K
$80K-$134K
$120K-$189K
$85K-$142K
$95K-$154K
$111K-$176K
$87K-$140K
$76K-$127K
$54K-$92K
$61K-$100K
$81K-$140K
$80K-$148K
$108K-$171K
$112K-$179K
$63K-$111K
$75K-$126K
$110K-$184K
$76K-$145K
$36K-$62K
$70K-$118K
$94K-$153K
$54K-$115K
$50K-$92K
$49K-$97K
$67K-$135K
$138K-$224K
$80K-$139K
$158K-$211K
$150K-$180K
$42K-$80K
$190K-$220K
$42K-$77K
$68K-$139K
$54K-$71K
$34K-$92K
$47K-$85K
$65K-$124K
$56K-$95K
$62K-$112K
$107K-$173K
$64K-$108K
$89K-$144K
$109K-$200K
$61K-$113K
$35K-$62K
$55K-$105K
$18-$25 Per Hour
$39K-$66K
$135K-$211K
$57K-$80K
$129K-$215K
$86K-$143K
$63K-$127K
$50K-$89K
$43K-$86K
$74K-$149K
$71K-$124K
$113K-$196K
$81K-$167K
$69K-$121K
$97K-$160K
$150K-$238K
$77K-$132K
$24-$39 Per Hour
$59K-$112K
$35K-$65K
$79K-$147K
$62K-$119K
$119K-$187K
$90K-$157K
$32K-$62K
$42K-$86K
$116K-$208K
$102K-$172K
$69K-$127K
$86K-$144K
$102K-$165K
$74K-$124K
$40K-$68K
$76K-$142K
$76K-$142K
$108K-$171K
$202K-$306K
$91K-$159K
$80K-$133K
$49K-$97K
$49K-$113K
$21-$34 Per Hour
$65K-$134K
$32K-$59K
$39K-$69K
$87K-$158K
$27K-$48K
$36K-$71K
$107K-$173K
$56K-$99K
$25-$28 Per Hour
$80K-$155K
$43K-$98K
$44K-$96K
$45K-$78K
$50K-$110K
$60K-$99K
$130K-$206K
$61K-$119K
$100K-$140K
$99K-$178K
$86K-$137K
$37K-$100K
$58K-$111K
$72K-$133K
$56K-$91K
$61K-$126K
$95K-$160K
$53K-$91K
$101K-$158K
$33K-$61K
$44K-$86K
$43K-$77K
$125K-$210K
$44K-$86K
$69K-$119K
$65K-$110K
$67K-$127K
$78K-$147K
$66K-$117K
$37K-$66K
$86K-$143K
$84K-$146K
$50K-$98K
$38K-$64K
$90K-$110K
$92K-$150K
$90K-$153K
$43K-$82K
$61K-$109K
$42K-$79K
$139K-$221K
$40K-$101K
$84K-$153K
$52K-$81K
$81K-$134K
$97K-$180K
$49K-$113K
$44K-$73K
$75K-$140K
$84K-$157K
$40K-$87K
$68K-$139K
$72K-$142K
$74K-$137K
$57K-$109K
$121K-$203K
$52K-$85K
$81K-$140K
$83K-$148K
$59K-$116K
$60K-$101K
$31K-$55K
$102K-$178K
$136K-$208K
$110K-$130K
$48K-$85K
$71K-$129K
$66K-$123K
$171K-$272K
$92K-$146K
$65K-$126K
$150K-$239K
$21-$29 Per Hour
$10-$17 Per Hour
$118K-$228K
$82K-$129K
$52K-$91K
$47K-$101K
$49K-$76K
$43K-$88K
$61K-$109K
$113K-$182K
$124K-$199K
$58K-$104K
$52K-$93K
$97K-$181K
$100K-$173K
$58K-$108K
$81K-$161K
$53K-$96K
$61K-$110K
$65K-$96K
$115K-$220K
$71K-$144K
$32K-$57K
$79K-$136K
$120K-$145K
$50K-$89K
$68K-$129K
$48K-$113K
$27-$47 Per Hour
$74K-$124K
$68K-$125K
$39K-$67K
$71K-$135K
$107K-$172K
$49K-$85K
$54K-$71K
$61K-$123K
$47K-$85K
$65K-$124K
$87K-$141K
$56K-$95K
$71K-$121K
$62K-$112K
$64K-$108K
$89K-$144K
$109K-$200K
$35K-$62K
$61K-$113K
$55K-$105K
$18-$25 Per Hour
$135K-$211K
$39K-$66K
$57K-$80K
$63K-$127K
$50K-$89K
$82K-$132K
$85K-$139K
$72K-$121K
$74K-$149K
$113K-$196K
$69K-$121K
$71K-$124K
$97K-$160K
$81K-$167K
$150K-$238K
$24-$39 Per Hour
$35K-$65K
$77K-$132K
$51K-$88K
$101K-$141K
$59K-$112K
$79K-$147K
$79K-$127K
$62K-$119K
$119K-$187K
$81K-$132K
$120K-$140K
$90K-$157K
$63K-$110K
$42K-$86K
$32K-$62K
$116K-$208K
$107K-$173K
$65K-$113K
$69K-$127K
$102K-$172K
$74K-$124K
$40K-$68K
$76K-$142K
$76K-$142K
$108K-$171K
$202K-$306K
$91K-$159K
$80K-$133K
$21-$34 Per Hour
$49K-$97K
$49K-$113K
$96K-$161K
$65K-$134K
$59K-$125K
$32K-$59K
$87K-$158K
$27K-$48K
$39K-$69K
$36K-$71K
$107K-$173K
$56K-$99K
$25-$28 Per Hour
$80K-$155K
$43K-$98K
$45K-$78K
$50K-$110K
$44K-$96K
$100K-$140K
$61K-$119K
$80K-$142K
$99K-$178K
$37K-$100K
$62K-$113K
$86K-$137K
$58K-$111K
$72K-$133K
$56K-$91K
$95K-$160K
$61K-$126K
$61K-$126K

In [56]:
num=0
for i in data['Salary Estimate']:
    data['Salary Estimate'][num]=i.replace('(Glassdoor est.)','')
    num+=1

C:\Users\Shubh Pundir\AppData\Local\Temp\ipykernel_26536\2781162198.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Salary Estimate'][num]=i.replace('(Glassdoor est.)','')

In [59]:
data

,Job Title,Salary Estimate,Job Description,Rating,Headquarters,Size,Founded,Type of ownership,Industry,Sector,...,max_salary,avg_salary,company_txt,age,job_simp,seniority,skills,Company Rating,Company Name,JD
0,Data Scientist,$53K-$91K,"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,"Goleta, CA",4,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,...,91,72.0,Tecolote Research,47,data scientist,na,2,3.8,Tecolote Research,"[Data Scientist, Location: Albuquerque, NM, Ed..."
1,Healthcare Data Scientist,$63K-$112K,What You Will Do:\n\nI. General Summary\n\nThe...,3.4,"Baltimore, MD",7,1984,Other Organization,Health Care Services & Hospitals,Health Care,...,112,87.5,University of Maryland Medical System,36,data scientist,na,1,3.8,Tecolote Research,"[What You Will Do:, , I. General Summary, , Th..."
2,Data Scientist,$80K-$90K,"KnowBe4, Inc. is a high growth information sec...",4.8,"Clearwater, FL",4,2010,Company - Private,Security Services,Business Services,...,90,85.0,KnowBe4,10,data scientist,na,3,3.8,Tecolote Research,"[KnowBe4, Inc. is a high growth information se..."
3,Data Scientist,$56K-$97K,*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,"Richland, WA",5,1965,Government,Energy,"Oil, Gas, Energy & Utilities",...,97,76.5,PNNL,55,data scientist,na,1,3.8,Tecolote Research,"[*Organization and Job ID**, Job ID: 310709, ,..."
4,Data Scientist,$86K-$143K,Data Scientist\nAffinity Solutions / Marketing...,2.9,"New York, NY",2,1998,Company - Private,Advertising & Marketing,Business Services,...,143,114.5,Affinity Solutions,22,data scientist,na,2,3.8,Tecolote Research,"[Data Scientist, Affinity Solutions / Marketin..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
736,"Sr Scientist, Immuno-Oncology - Oncology",$72K-$133K,Site Name: USA - Massachusetts - Cambridge\nPo...,3.9,"Brentford, United Kingdom",7,1830,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,...,111,84.5,GSK,190,na,senior,1,3.8,Tecolote Research,"[Site Name: USA - Massachusetts - Cambridge, P..."
737,Senior Data Engineer,$56K-$91K,THE CHALLENGE\nEventbrite has a world-class da...,4.4,"San Francisco, CA",5,2006,Company - Public,Internet,Information Technology,...,133,102.5,Eventbrite,14,data engineer,senior,3,3.8,Tecolote Research,"[THE CHALLENGE, Eventbrite has a world-class d..."
738,"Project Scientist - Auton Lab, Robotics Institute",$95K-$160K,The Auton Lab at Carnegie Mellon University is...,2.6,"Pittsburgh, PA",4,1984,College / University,Colleges & Universities,Education,...,91,73.5,Software Engineering Institute,36,na,na,1,3.8,Tecolote Research,[The Auton Lab at Carnegie Mellon University i...
739,Data Science Manager,$61K-$126K,Data Science ManagerResponsibilities:\n\nOvers...,3.2,"Chadds Ford, PA",1,-1,Company - Private,Staffing & Outsourcing,Business Services,...,160,127.5,"Numeric, LLC",-1,manager,na,1,3.8,Tecolote Research,"[Data Science ManagerResponsibilities:, , Over..."
740,Research Scientist – Security and Privacy,$61K-$126K,Returning Candidate? Log back in to the Career...,3.6,"Arlington, VA",4,1967,Nonprofit Organization,Federal Agencies,Government,...,126,93.5,Riverside Research Institute,53,na,na,1,NaN,NaN,[Returning Candidate? Log back in to the Caree...

In [63]:
data['Job Description']=data['JD']

In [64]:
data['Job Title']

0                                         Data Scientist
1                              Healthcare Data Scientist
2                                         Data Scientist
3                                         Data Scientist
4                                         Data Scientist
                             ...
736             Sr Scientist, Immuno-Oncology - Oncology
737                                 Senior Data Engineer
738    Project Scientist - Auton Lab, Robotics Institute
739                                 Data Science Manager
740            Research Scientist – Security and Privacy
Name: Job Title, Length: 741, dtype: object

In [65]:
data['Job Description'][54]

["At Northrop Grumman we develop cutting-edge technology that preserves freedom and advances human discovery. Our pioneering and inventive spirit has enabled us to be at the forefront of many technological advancements in our nation's history - from the first flight across the Atlantic Ocean, to stealth bombers, to landing on the moon. We continue to innovate with developments from launching the first commercial flight to space, to discovering the early beginnings of the universe. Our employees are not only part of history, they're making history.",
 '',
 'The Engineering & Sciences (E&S) organization pushes the boundaries of innovation, redefines engineering capabilities, and drives advances in various sciences. Our team is chartered with providing the skills, innovative technologies to develop, design, produce and sustain optimized product lines across the sector while providing a decisive advantage to the warfighter. Come be a part of our mission!',
 '',
 'The Data/Systems Engineer plays a dual role of analyzing and modeling data, as well as managing and developing systems. The candidate applying for this position should be able to work across disciplines and organizations; identifying requirements, implementing good data governance principles, and producing logical data models. The qualified applicant will be expected to work directly with internal customers to develop strategies to meet their specific needs, while at the same time developing a common core approach to extend solutions to other disciplines and organizations.',
 '',
 'Responsibilities:',
 "Support the Infrastructure team's mission of continuous improvement through data driven processes and tools. Work with customers to define requirements for systems and metrics Perform Data Analysis of data vaults to find commonality and develop logical models Convert requirements into actions and models Identify critical problems and the steps required to resolve them Provide cost and data analysis and guidance to high level requirements for project teams",
 '',
 'Qualifications:',
 '',
 'Basic Qualifications:',
 "Bachelor's in Statistics, Engineering or related field and a minimum of 2 years of related experience",
 'Experience in Data management, Data Engineering, or Data Science Experience with R or similar statistical languages',
 '1-2 years of experience using SQL to query databases (Oracle, SQL Server)',
 'Preferred Qualifications:',
 '1-2 years of experience with web development: HTML, CSS and JavaScript',
 'Background in development and production of electronic and RF components, or a degree in a related field',
 'Experience with Business Objects, Tableau, or other charting tools',
 'Experience with shop floor systems',
 'Experience with the Software Development lifecycle, and both Agile and Waterfall projects',
 'Experience with electrical and mechanical data management systems',
 'Data analytics and visualization, statistics',
 'Database query experience',
 'Experience with Excel Macros',
 'What We Can Offer You:',
 '',
 'Northrop Grumman provides a comprehensive benefits package and a work environment that encourages your growth and supports the mutual success of our people and our company. Northrop Grumman benefits give you the flexibility and control to choose the benefits that make the most sense for you and your family. Your benefits will include the following:',
 '',
 'Health Plan',
 '',
 'Savings Plan',
 '',
 'Paid Time Off',
 '',
 'Education Assistance',
 '',
 'Training and Development',
 '',
 'Flexible Work Arrangements',
 '',
 'https://benefits.northropgrumman.com/us/en2/BenefitsOverview/Pages/default.aspx',
 '',
 'Additional Northrop Grumman Information:',
 '',
 'Northrop Grumman has approximately 85,000 employees in all 50 states and in more than 25 countries, we strive to attract and retain the best employees by providing an inclusive work environment wherein employees are receptive to diverse ideas, perspectives and talents to help solve our toughest customer challenges: to develop and maintain some of the most technically sophisticated products, programs and services in the world.',
 '',
 'Northrop Grumman is committed to hiring and retaining a diverse workforce. We are proud to be an Equal Opportunity/Affirmative Action Employer, making decisions without regard to race, color, religion, creed, sex, sexual orientation, gender identity, marital status, national origin, age, veteran status, disability, or any other protected class. For our complete EEO/AA and Pay Transparency statement, please visit www.northropgrumman.com/EEO. U.S. Citizenship is required for most positions.']

In [74]:
data.columns

Index(['Job Title', 'Salary Estimate', 'Job Description', 'Rating',
       'Headquarters', 'Size', 'Founded', 'Type of ownership', 'Industry',
       'Sector', 'Revenue', 'Competitors', 'employer_provided', 'min_salary',
       'max_salary', 'avg_salary', 'company_txt', 'age', 'job_simp',
       'seniority', 'skills', 'Company Rating', 'Company Name'],
      dtype='object')

In [67]:
data.drop(['JD'],axis=1,inplace=True)

In [76]:
data[['company_txt','Company Name']]

                               company_txt       Company Name
0                        Tecolote Research  Tecolote Research
1    University of Maryland Medical System  Tecolote Research
2                                  KnowBe4  Tecolote Research
3                                     PNNL  Tecolote Research
4                       Affinity Solutions  Tecolote Research
..                                     ...                ...
736                                    GSK  Tecolote Research
737                             Eventbrite  Tecolote Research
738         Software Engineering Institute  Tecolote Research
739                           Numeric, LLC  Tecolote Research
740           Riverside Research Institute                NaN

[741 rows x 2 columns]

In [73]:
data.drop(['hourly'],axis=1,inplace=True)

In [78]:
df = pd.read_csv('eda_data.csv')

In [79]:
df['Company Name']

0                          Tecolote Research\n3.8
1      University of Maryland Medical System\n3.4
2                                    KnowBe4\n4.8
3                                       PNNL\n3.8
4                         Affinity Solutions\n2.9
                          ...
737                                      GSK\n3.9
738                               Eventbrite\n4.4
739           Software Engineering Institute\n2.6
740                             Numeric, LLC\n3.2
741             Riverside Research Institute\n3.6
Name: Company Name, Length: 742, dtype: object

In [124]:
def why():
    num=0
    for i in df['Company Name']:
        if (len(df['Company Name'][num].split('\n'))==2):
            data['Company Name'][num], data['Company Rating'][num] = df['Company Name'][num].split('\n')
        else (len(df['Company Name'][num].split('\n'))==1):
            data['Company Name'][num] = df['Company Name'][num].split('\n')[0]
        num+=1

SyntaxError: invalid syntax (1598369438.py, line 6)

In [ ]:
len(df['Company Name'][num].split('\n'))==2

In [82]:
df['Company Name']

0                          Tecolote Research\n3.8
1      University of Maryland Medical System\n3.4
2                                    KnowBe4\n4.8
3                                       PNNL\n3.8
4                         Affinity Solutions\n2.9
                          ...
737                                      GSK\n3.9
738                               Eventbrite\n4.4
739           Software Engineering Institute\n2.6
740                             Numeric, LLC\n3.2
741             Riverside Research Institute\n3.6
Name: Company Name, Length: 742, dtype: object

In [86]:
why()

C:\Users\Shubh Pundir\AppData\Local\Temp\ipykernel_26536\2227677972.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Company Name'][num],data['Company Rating'][num]=df['Company Name'][num].split('\n')

ValueError: not enough values to unpack (expected 2, got 1)

In [87]:
data

,Job Title,Salary Estimate,Job Description,Rating,Headquarters,Size,Founded,Type of ownership,Industry,Sector,...,min_salary,max_salary,avg_salary,company_txt,age,job_simp,seniority,skills,Company Rating,Company Name
0,Data Scientist,$53K-$91K,"[Data Scientist, Location: Albuquerque, NM, Ed...",3.8,"Goleta, CA",4,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,...,53,91,72.0,Tecolote Research,47,data scientist,na,2,3.8,Tecolote Research
1,Healthcare Data Scientist,$63K-$112K,"[What You Will Do:, , I. General Summary, , Th...",3.4,"Baltimore, MD",7,1984,Other Organization,Health Care Services & Hospitals,Health Care,...,63,112,87.5,University of Maryland Medical System,36,data scientist,na,1,3.4,University of Maryland Medical System
2,Data Scientist,$80K-$90K,"[KnowBe4, Inc. is a high growth information se...",4.8,"Clearwater, FL",4,2010,Company - Private,Security Services,Business Services,...,80,90,85.0,KnowBe4,10,data scientist,na,3,4.8,KnowBe4
3,Data Scientist,$56K-$97K,"[*Organization and Job ID**, Job ID: 310709, ,...",3.8,"Richland, WA",5,1965,Government,Energy,"Oil, Gas, Energy & Utilities",...,56,97,76.5,PNNL,55,data scientist,na,1,3.8,PNNL
4,Data Scientist,$86K-$143K,"[Data Scientist, Affinity Solutions / Marketin...",2.9,"New York, NY",2,1998,Company - Private,Advertising & Marketing,Business Services,...,86,143,114.5,Affinity Solutions,22,data scientist,na,2,2.9,Affinity Solutions
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
736,"Sr Scientist, Immuno-Oncology - Oncology",$72K-$133K,"[Site Name: USA - Massachusetts - Cambridge, P...",3.9,"Brentford, United Kingdom",7,1830,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,...,58,111,84.5,GSK,190,na,senior,1,3.8,Tecolote Research
737,Senior Data Engineer,$56K-$91K,"[THE CHALLENGE, Eventbrite has a world-class d...",4.4,"San Francisco, CA",5,2006,Company - Public,Internet,Information Technology,...,72,133,102.5,Eventbrite,14,data engineer,senior,3,3.8,Tecolote Research
738,"Project Scientist - Auton Lab, Robotics Institute",$95K-$160K,[The Auton Lab at Carnegie Mellon University i...,2.6,"Pittsburgh, PA",4,1984,College / University,Colleges & Universities,Education,...,56,91,73.5,Software Engineering Institute,36,na,na,1,3.8,Tecolote Research
739,Data Science Manager,$61K-$126K,"[Data Science ManagerResponsibilities:, , Over...",3.2,"Chadds Ford, PA",1,-1,Company - Private,Staffing & Outsourcing,Business Services,...,95,160,127.5,"Numeric, LLC",-1,manager,na,1,3.8,Tecolote Research
740,Research Scientist – Security and Privacy,$61K-$126K,[Returning Candidate? Log back in to the Caree...,3.6,"Arlington, VA",4,1967,Nonprofit Organization,Federal Agencies,Government,...,61,126,93.5,Riverside Research Institute,53,na,na,1,NaN,NaN

In [88]:
data.columns

Index(['Job Title', 'Salary Estimate', 'Job Description', 'Rating',
       'Headquarters', 'Size', 'Founded', 'Type of ownership', 'Industry',
       'Sector', 'Revenue', 'Competitors', 'employer_provided', 'min_salary',
       'max_salary', 'avg_salary', 'company_txt', 'age', 'job_simp',
       'seniority', 'skills', 'Company Rating', 'Company Name'],
      dtype='object')

In [98]:
data[['Company Name','Company Rating','company_txt']]

,Company Name,Company Rating,company_txt
0,Tecolote Research,3.8,Tecolote Research
1,University of Maryland Medical System,3.4,University of Maryland Medical System
2,KnowBe4,4.8,KnowBe4
3,PNNL,3.8,PNNL
4,Affinity Solutions,2.9,Affinity Solutions
...,...,...,...
736,Tecolote Research,3.8,GSK
737,Tecolote Research,3.8,Eventbrite
738,Tecolote Research,3.8,Software Engineering Institute
739,Tecolote Research,3.8,"Numeric, LLC"
740,NaN,NaN,Riverside Research Institute

In [122]:
data.iloc[144]

Job Title                              Data Scientist - Bioinformatics
Salary Estimate                                              $49K-$85K
Job Description      [*Organization and Job ID**, Job ID: 310433, ,...
Rating                                                             3.8
Headquarters                                              Richland, WA
Size                                                                 5
Founded                                                           1965
Type of ownership                                           Government
Industry                                                        Energy
Sector                                    Oil, Gas, Energy & Utilities
Revenue                               $500 million to $1 billion (USD)
Competitors          Oak Ridge National Laboratory, National Renewa...
employer_provided                                                    0
min_salary                                                          49
max_salary                                                          85
avg_salary                                                        67.0
company_txt                                                       PNNL
age                                                                 55
job_simp                                                data scientist
seniority                                                           na
skills                                                               1
Company Rating                                                     3.8
Company Name                                                      PNNL
Name: 144, dtype: object

In [102]:
df.iloc[736]

Unnamed: 0                                                         736
Job Title                 Principal, Data Science - Advanced Analytics
Salary Estimate                            $86K-$137K (Glassdoor est.)
Job Description      IQVIA is the leading human data science compan...
Rating                                                             3.6
Company Name                                                IQVIA\n3.6
Location                                          Plymouth Meeting, PA
Headquarters                                                Durham, NC
Size                                                  10000+ employees
Founded                                                           2017
Type of ownership                                     Company - Public
Industry                                     Biotech & Pharmaceuticals
Sector                                       Biotech & Pharmaceuticals
Revenue                                         $2 to $5 billion (USD)
Competitors                     PPD, INC Research, PRA Health Sciences
hourly                                                               0
employer_provided                                                    0
min_salary                                                          86
max_salary                                                         137
avg_salary                                                       111.5
company_txt                                                      IQVIA
job_state                                                           PA
same_state                                                           0
age                                                                  3
python_yn                                                            0
R_yn                                                                 0
spark                                                                0
aws                                                                  0
excel                                                                0
job_simp                                                            na
seniority                                                       senior
desc_len                                                          5025
num_comp                                                             3
Name: 736, dtype: object

In [118]:
L = []
num=0
for i in df['Company Name'].unique():
    if '\n' not in i:
        print(i,num)
    num+=1
#         print(i)

CA-One Tech Cloud 144
Muso 206
Kronos Bio 234
ALIN 278
Monte Rosa Therapeutics 315

In [112]:
df['Company Name'].unique()

array(['Tecolote Research\n3.8',
       'University of Maryland Medical System\n3.4', 'KnowBe4\n4.8',
       'PNNL\n3.8', 'Affinity Solutions\n2.9', 'CyrusOne\n3.4',
       'ClearOne Advantage\n4.1', 'Logic20/20\n3.8',
       'Rochester Regional Health\n3.3', '<intent>\n4.6', 'Wish\n3.5',
       'ManTech\n4.1', 'Walmart\n3.2', 'Yesler\n4.1',
       'Takeda Pharmaceuticals\n3.7', 'Audible\n3.6',
       'Blueprint Medicines\n3.9', 'h2o.ai\n4.3', 'Nuna\n4.2',
       'Pinnacol Assurance\n4.0', 'Porch\n3.2', 'Health IQ\n3.9',
       'Truckstop.com\n3.8', 'SMC 3\n4.3', 'Novetta\n4.0', 'Pfizer\n4.0',
       'First Tech Federal Credit Union\n3.5',
       'The Hanover Insurance Group\n3.7', 'Amrock\n3.6', 'Novartis\n3.8',
       'Juniper Networks\n3.8', 'New England Biolabs\n4.7',
       'Clarity Insights\n4.2', 'Esri\n3.5',
       'Systems & Technology Research\n4.7', 'Sartorius\n3.5',
       'Lancer Insurance\n3.5', 'Sauce Labs\n4.2', 'Persivia\n3.6',
       'Edgewell Personal Care\n3.4', 'Equity Residential\n4.3',
       'BPA Services\n5.0', 'Visa Inc.\n3.7', 'Intrado\n3.1',
       'Centauri\n4.7', 'Caterpillar\n3.7', 'Zimmerman Advertising\n3.8',
       'Liberty Mutual Insurance\n3.3', 'Torch Technologies, Inc.\n4.6',
       'Swiss Re\n3.7', 'Northrop Grumman\n3.7', 'Netskope\n4.1',
       '1904labs\n4.7', 'The David J. Joseph Company\n4.4',
       'USEReady\n4.3', 'Bill.com\n3.8',
       'Pacific Northwest National Laboratory\n3.8',
       "DICK'S Sporting Goods - Corporate\n3.8", 'Berg Health\n2.8',
       'Oversight Systems\n4.7', 'C Space\n3.1', 'Numeric, LLC\n3.2',
       'HP Inc.\n4.0', 'SpringML\n4.4', 'Grainger\n3.6',
       'EAG Laboratories\n2.7', 'The Buffalo Group\n3.9', 'Carmeuse\n3.1',
       'GNS Healthcare\n1.9', 'Peraton\n3.3', 'Pactera\n4.4', 'Nurx\n3.9',
       'webfx.com\n4.7',
       'Johns Hopkins University Applied Physics Laboratory\n4.5',
       'Productive Edge\n4.3', 'Excella Consulting\n4.0', 'Gensco\n4.4',
       'goTRG\n4.2', 'NMR Consulting\n4.5', 'iSeatz\n3.5',
       'Nektar Therapeutics\n3.5', 'TransUnion\n3.9', 'IT Concepts\n4.7',
       'Scientific Research Corporation\n4.2',
       'General Dynamics Information Technology\n3.4', 'MITRE\n3.2',
       'DentaQuest\n3.1', 'Redjack\n4.1', '7Park Data\n3.8',
       'Rapid Response Monitoring\n4.7', 'Trilogy Ed\n4.3', 'Gallup\n4.2',
       'CapTech\n3.9', 'American Axle & Manufacturing\n3.3',
       'CentralReach\n4.7', 'Integrate\n4.3', 'Boys Town Hospital\n2.9',
       'Demandbase\n4.5', 'Sapphire Digital\n3.4', 'Formation\n3.2',
       'Autodesk\n4.0', "Beck's Hybrids\n4.6", 'DrFirst\n2.8',
       'Object Partners\n4.7', 'L.A. Care Health Plan\n3.0',
       'Red Ventures\n3.2', 'Quick Base\n4.4',
       'The E.W. Scripps Company\n3.5', 'Upside Business Travel\n4.0',
       'Synagro\n2.3', 'Alliance Source Testing\n4.0',
       'Accuride International\n3.6', 'Full Potential Solutions\n3.8',
       'Maven Wave Partners\n4.4',
       'First Command Financial Services, Inc.\n3.2', 'Pharmavite\n2.9',
       'BioMarin Pharmaceutical\n3.8', 'Stratagem Group\n4.3',
       'PA Consulting\n3.4', 'Gridiron IT\n5.0',
       'Evolve Vacation Rental\n3.7',
       'The Church of Jesus Christ of Latter-day Saints\n4.2',
       'Maximus Real Estate Partners\n4.3',
       'Software Engineering Institute\n2.6', 'AVANADE\n3.9',
       'PatientPoint\n3.8', 'BlueCross BlueShield of Tennessee\n3.8',
       'KSM Consulting\n4.4', 'Cogo Labs\n3.9', 'Church & Dwight\n3.4',
       'MassMutual\n3.6', 'Genentech\n3.9',
       'Legal & General America\n3.8', 'Western Digital\n3.5',
       'Sunovion\n3.5', 'National Student Clearinghouse\n2.9',
       'Tower Health\n3.6', 'State of Wisconsin Investment Board\n2.7',
       'Rubius Therapeutics\n4.4', 'OneMagnify\n4.3', 'IZEA\n4.2',
       'Vionic Group\n3.6', 'Dodge Data & Analytics\n2.8',
       'Plymouth Rock Assurance\n3.3', 'CA-One Tech Cloud',
       'Beebe Healthcare\n3.6', 'Argo Group US\n3.4',
       'Associated Electric Cooperative\n4.1', 'PennyMac\n3.2',
       'Zest AI\n3.9', 'DECISIVE ANALYTICS Corporation\n4.7',
       'Karyopharm Therapeutics Inc.\n2.9', 'Tempus Labs\n3.0',
       'Recursion Pharmaceuticals\n4.7', 'P2 Energy Solutions\n3.7',
       'ClearEdge\n4.0', 'Tapjoy\n3.9', 'Credit Sesame\n4.1',
       'San Manuel Casino\n3.6', 'Texas Health Huguley Hospital\n4.0',
       'Teasdale Latin Foods\n2.4',
       'Central California Alliance for Health\n3.5',
       'Pilot Flying J Travel Centers LLC\n3.0', "Palermo's Pizza\n3.3",
       'Advanced BioScience Laboratories\n2.7',
       'Echo Global Logistics\n3.4', 'Lockheed Martin\n3.7',
       'Acuity Insurance\n4.8', 'Fareportal\n3.8',
       'Veterans Affairs, Veterans Health Administration\n3.4',
       'Credera\n4.3', 'Spectrum Communications and Consulting\n3.4',
       'NCSOFT\n3.1', 'Dayton Freight Lines, Inc.\n4.3',
       'Community Action Partnership of San Luis Obispo\n2.8',
       'TrueAccord\n3.4', 'DRB Systems\n4.0', 'Corcentric\n3.7',
       'U.Group\n3.5', 'Systems Evolution Inc.\n4.7', 'Eventbrite\n4.4',
       'Centro\n4.1', 'comScore\n2.5', 'SullivanCotter\n4.2', 'NPD\n3.9',
       'Bakery Agency\n4.3',
       'Blue Cross & Blue Shield of Rhode Island\n3.4', 'Boys Town\n3.8',
       'The HSC Health Care System\n3.3', 'Pro-Sphere Tek\n3.4',
       'Ameritas Life Insurance Corp\n3.0', 'Genworth\n3.7',
       'Trace Data\n3.9', 'Clearwater Analytics\n4.2',
       'Tekvalley, Corp.\n4.0', 'BWX Technologies\n3.5', 'Vermeer\n3.9',
       'L&T Infotech\n3.5', 'OceanFirst Financial\n4.3', "Sotheby's\n3.6",
       'Vanda Pharmaceuticals\n2.3', 'CK-12 Foundation\n4.1',
       'Opinion Dynamics\n4.2', 'Applied Information Sciences\n4.6',
       'WK Dickson\n4.4', 'Southwest Research Institute\n3.9', 'Muso',
       'The Integer Group\n2.2', 'Samba TV\n3.3', 'SV Microwave\n3.4',
       'Sumo Logic\n3.8', 'EAB\n3.5', 'Brighthouse Financial\n3.5',
       'Citadel Federal Credit Union\n3.9', 'CALIBRE Systems\n3.7',
       'Motorola Solutions\n3.7', 'Reynolds American\n3.1',
       'Infosys\n3.0', 'Alignment Healthcare\n3.5',
       'Cboe Global Markets\n3.7', 'Guidepoint\n3.2',
       'Cerus Corporation\n2.1', 'Vail Health\n3.7', 'AstraZeneca\n3.9',
       'MathWorks\n4.4', 'MetroStar Systems\n3.4',
       'Audentes Therapeutics\n2.9', 'National Interstate\n3.3',
       'Moser Consulting\n4.5', 'Mcphail Associates\n3.3',
       'Crown Bioscience\n2.4', 'HOVER\n4.8', 'Q2 Solutions\n2.9',
       'Arbella Insurance\n3.4', 'Kronos Bio',
       'Associated Banc-Corp\n3.8', 'Genesys\n4.3', 'Moda Operandi\n1.9',
       'QK\n4.7', 'Santander\n3.1', 'Tivity Health\n3.4', 'BRMi\n4.4',
       'Luminar Technologies\n3.9', 'Emtec, Inc.\n3.9',
       'Veterans United Home Loans\n4.7', 'Praetorian\n4.7',
       'Agios Pharmaceuticals\n3.8', 'Glassdoor\n4.0', 'Assurant\n3.4',
       'F&G\n3.7', 'GreatAmerica Financial Services\n4.6',
       'Acceleron Pharma\n4.4', 'AmeriHealth Caritas\n3.0',
       'Strategic Employment Partners\n4.7',
       'Catholic Health Initiatives\n3.2', 'FLEETCOR\n2.7',
       'Applied Research Laboratories\n3.7', 'Raytheon\n3.7',
       'RTI International\n4.3', 'TRANZACT\n3.6', 'United BioSource\n2.1',
       'Figure Eight\n3.9', 'Royce Geospatial\n5.0', 'Citi\n3.6',
       'Sage Intacct\n4.7', 'Scale AI\n3.5', 'Change Healthcare\n2.7',
       'MZ\n3.4', 'HG Insights\n4.7', '1-800-FLOWERS.COM, Inc.\n2.8',
       'CBS Interactive\n3.5', 'Samsung Research America\n3.7',
       'Lorven Technologies Inc\n4.0', 'CareDx\n2.5', 'Serigor Inc.\n3.9',
       'Leidos\n3.4', 'Beckman Coulter Diagnostics\n3.6',
       'IHS Markit\n3.5', 'ALIN', 'e-IT Professionals Corp.\n3.5',
       'TechProjects\n4.8', 'Biz2Credit Inc\n4.0', 'PeoplesBank\n4.2',
       'Capgemini\n3.8', 'GNY Insurance Companies\n3.7',
       'Conch Technologies, Inc\n4.6', 'Medidata Solutions\n4.3',
       'Quartet Health\n3.9', 'Success Academy Charter Schools\n3.1',
       'AXION Healthcare Solutions\n3.6', 'ExecOnline\n4.2', 'Mteq\n4.0',
       'Brillient\n3.7', 'Entefy\n4.4', 'Trace3\n3.4',
       'Saama Technologies Inc\n3.5', 'Two Sigma\n4.4',
       'Strategic Financial Solutions\n4.0',
       'Remedy BPCI Partners, LLC.\n3.4', 'The Climate Corporation\n3.2',
       'Crossix Solutions\n3.5', 'GSK\n3.9', 'Factual\n4.3',
       'TriNet\n3.3', 'Signpost\n3.9', 'Adobe\n4.0', 'Equian LLC\n3.2',
       'Information Builders\n3.2', 'Greenway Health\n3.0',
       'Confluent\n4.7', 'Life360\n3.9', 'IQVIA\n3.6',
       'Riverside Research Institute\n3.6',
       'Icon Health and Fitness\n3.1', 'Shipt\n3.8',
       'Monte Rosa Therapeutics', 'IntraEdge\n3.4',
       'COUNTRY Financial\n3.8', 'Mentor Graphics\n4.1',
       'Maxar Technologies\n3.7', 'ICW Group\n2.8', 'Exelixis\n3.0',
       'Grand Rounds\n4.2', 'SPINS, LLC\n3.5', 'DTCC\n3.3',
       'Carilion Clinic\n3.7', 'DoubleVerify\n3.2',
       'Mitsubishi Electric Research Labs\n4.6',
       'Rodan and Fields, LLC\n2.2', 'DESC\n3.4',
       'Johns Hopkins Health Care\n3.3',
       'Community Behavioral Health\n3.7', 'FORMA THERAPEUTICS\n3.8',
       'Bridg\n2.7', 'Charter Spectrum\n3.5', 'CompQsoft\n3.4',
       'Solugenix Corporation\n4.3', 'West Coast University\n2.6',
       'SoftBank Robotics\n3.8', 'SkySync\n5.0', 'DatamanUSA, LLC\n3.4',
       '23andMe\n4.0', 'Fivestars\n3.9'], dtype=object)

In [ ]:
data.to_csv('Cleaned-2.csv')